@model Orbio.Web.UI.Models.LoginModel
<section id="Login" class="Login_home">
		<div class="container" align="center">
			<div class="col-md-6 col-sm-6 col-xs-12">
      <div class="login_inner">

      <div class="login_form">
				<h1>RETURNING USER LOGIN HERE</h1>

        @using (Html.BeginForm("Login", "Account",new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class="form-horizontal "})){ 
             @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
  <div class="form-group">
       @Html.LabelFor(m => m.UserName, new{@for="UserName", @class="col-sm-2 control-label"})
    @*<label for="inputEmail3" class="col-sm-2 control-label">Email</label>*@
    <div class="col-sm-10">
     @Html.TextBoxFor(m=>m.UserName, new{type="email",@class="form-control",placeholder="Email"})
          @Html.ValidationMessageFor(m => m.UserName)
      @*<input type="email" class="form-control" id="model.UserName" placeholder="Email">*@
    </div>
  </div>
  <div class="form-group">
       @Html.LabelFor(m => m.Password, new{@for="Password", @class="col-sm-2 control-label"})
    @*<label for="Password" class="col-sm-2 control-label">Password</label>*@
    <div class="col-sm-10">
         @Html.PasswordFor(m=>m.Password, new{@class="form-control",placeholder="Password"})
         @Html.ValidationMessageFor(m => m.Password)
      @*<input type="password" class="form-control" id="Password" placeholder="Password">*@
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="forget">
        <label>
          <a href="">Forget Password ?</a>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="LOGIN" class="Buynow">&nbsp;&nbsp; OR &nbsp;&nbsp;
      <input type="submit" value="" class="face_login">
    </div>
  </div>
        }
</div>

<div class="new_user">
<h1>NEW USER REGISTER HERE</h1>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</p>
<input type="submit" class="size_guide" value="REGISTER" >
</div>

      </div>
					</div>
		</div>
	</section>
