@model Orbio.Web.UI.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@*hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Create a new account.</h2>
    </hgroup>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <legend>Registration Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <input type="submit" value="Register" />
        </fieldset>
    }*@

<section id="Login" class="Login_home">
    <div class="container" align="center">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="login_inner">

                <div class="login_form">
                    <h1>REGISTER HERE</h1>


                    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal " }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-sm-4 control-label" })
                            @*<label for="inputEmail3" class="col-sm-4 control-label">Email</label>*@
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.UserName, new { type = "email", @class = "form-control", placeholder = "Email" })
                                <span style="color:red">@Html.ValidationMessageFor(m => m.UserName)</span>
                                @*<input type="email" class="form-control" id="inputEmail3" placeholder="Email">*@

                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-sm-4 control-label" })
                            @*<label for="inputPassword3" class="col-sm-4 control-label">Password</label>*@
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control", placeholder = "Password" })
                                <span style="color:red">@Html.ValidationMessageFor(m => m.Password)</span>
                                @*<input type="password" class="form-control" id="inputPassword3" placeholder="Password">*@
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-4 control-label" })
                            @*<label for="inputPassword3" class="col-sm-4 control-label">Confirm Password</label>*@
                            <div class="col-sm-8">
                                @Html.TextBoxFor(m => m.ConfirmPassword, new { type = "password", @class = "form-control", placeholder = "Confirm Password" })
                                <span style="color:red">@Html.ValidationMessageFor(m => m.ConfirmPassword)</span>
                                @*<input type="password" class="form-control" id="inputPassword3" placeholder="Confirm Password">*@
                            </div>
                        </div>

                        <div class="form-group gender col-sm-12 span_error">
                            @Html.LabelFor(m => m.Gender, new { @class = "col-sm-4 control-label" })
                            @*<label class="col-sm-4 control-label" for="inputPassword3">Gender</label>*@

                            <div class="col-sm-4">
                                @Html.RadioButtonFor(m => m.Gender, "M") Male
                                @*<div class="checkbox">
                                        <label>
                                          <input type="radio"> Male
                                        </label>
                                    </div>*@
                            </div>
                            <div class="col-sm-4">
                                @*@Html.RadioButtonFor(m => m.Gender, new { id = "F", @class = "checkbox female" }) Female*@
                                @Html.RadioButtonFor(m => m.Gender, "F") Female
                                @*<div class="checkbox female">
                                        <label>
                                          <input type="radio"> Female
                                        </label>
                                    </div>*@
                            </div>
                            <span style="color:red">@Html.ValidationMessageFor(m => m.Gender)</span>


                        </div>

    <div class="form-group mob-no">
        @Html.LabelFor(m => m.MobileNo, new { @class = "col-sm-4 control-label" })
        @*<label for="inputPassword3" class="col-sm-4 control-label">Mobile No</label>*@
        <div class="col-sm-1">
            <input type="text" readonly="" value="+91" name="" id="" class="form-control">
        </div>
        <div class="col-sm-7">
            @Html.TextBoxFor(m => m.MobileNo, new { type = "number", @class = "form-control", placeholder = "Mobile No" })
            <span style="color:red">@Html.ValidationMessageFor(m => m.MobileNo)</span>
            @*<input type="number" class="form-control" id="inputPassword3" placeholder="Mobile No">*@
        </div>
    </div>

                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8">
                                <input type="submit" value="REGISTER" class="Buynow">
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>


<script>
       $(document).ready(function () {
           $("#MobileNo").keydown(function (e) {
               // Allow: backspace, delete, tab, escape, enter and .
               if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                   // Allow: Ctrl+A
                   (e.keyCode == 65 && e.ctrlKey === true) ||
                   // Allow: home, end, left, right, down, up
                   (e.keyCode >= 35 && e.keyCode <= 40)) {
                   // let it happen, don't do anything
                   return;
               }
               // Ensure that it is a number and stop the keypress
               if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                   e.preventDefault();
               }
           });
       })
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}
