@model List<Orbio.Web.UI.Models.Catalog.ProductVariantAttributeModel>
@{
    var count = 0;

    foreach (var pva in this.Model)
    {
        if(pva.Values.Count > 0)
        { 
        var pvavScriptsIds = new List<string>();
        var pvaId = string.Format("ProductVariantAttributes[{0}].Id", count);
        var pvaTextPrompt = string.Format("ProductVariantAttributes[{0}].TextPrompt", count);
        var pvaAttributeControlType = string.Format("ProductVariantAttributes[{0}].AttributeControlType", count);
        var valueCount = 0;

        var baseImageUrl = System.Configuration.ConfigurationManager.AppSettings["ImageServerBaseUrl"];
        var imageUrl = baseImageUrl + "ecom/" + pva.SizeGuideUrl;

        switch (pva.AttributeControlType)
        {
            case Orbio.Core.Domain.Catalog.AttributeControlType.TableBlock:
            <div id="productattr" class="avab_size">
                
                    <ul class="size_li clearfix">
                       
                        <li class="no_bg">@pva.TextPrompt :  @Html.Hidden(pvaId, pva.Id)  @Html.Hidden(pvaTextPrompt, pva.TextPrompt) @Html.Hidden(pvaAttributeControlType, pva.AttributeControlType) </li>
                        @{
               
                foreach (var pvav in pva.Values)
                {
                    var pvavId = string.Format("ProductVariantAttributes[{0}].Values[{1}].Id", count, valueCount);
                    var pvavAnchId = string.Format("ProductVariantAttributes_{0}__Values_{1}__Id", count, valueCount);
                    var pvavAnchIdli = string.Format("liProductVariantAttributes_{0}__Values_{1}__Id", count, valueCount);
                             @*if (@ViewBag.name == @pvav.Name)
                             {
                                <li id="@pvavAnchIdli" class="select"> @Html.Hidden(pvavId, (pvav.IsPreSelected ? pvav.Id : 0))<a id="@pvavAnchId" data-id="@Html.Id(pvavId)" data-val="@pvav.Id" href="#"><input type="submit" style="outline:none;width:100%;height:100%; border-style:none;background:none" name="@pvav.Id" value="@pvav.Name" /></a></li>
                             }
                             else
                             {*@
                            <li id="@pvavAnchIdli" class="@(pvav.IsPreSelected ? "select" : "attrvalue")"> @Html.Hidden(pvavId, (pvav.IsPreSelected ? pvav.Id : 0))
                                <a id="@pvavAnchId"  data-id="@Html.Id(pvavId)" data-val="@pvav.Id"  href="#"><input type="submit" style="outline:none;width:100%;height:100%; border-style:none;background:none" name="@string.Format("pvav_{0}_{1}", pva.Id, pvav.Id)" value="@pvav.Name"/></a></li>
                    //}  
                    pvavScriptsIds.Add(pvavAnchId);
                    valueCount++;
                }
                if (pvavScriptsIds.Count > 0)
                {
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    //test
                                    var pvavIds = "@pvavScriptsIds.Aggregate((p1, p2) => p1 + "," + p2)";
                                    var pvavIdSplits = pvavIds.split(',');
                                    for (var i = 0; i < pvavIdSplits.length; i++) {
                                        $('#' + pvavIdSplits[i]).click(function () {
                                            $('#' + $(this).attr('data-id')).val($(this).attr('data-val'));
                                        });
                                    }
                                });
                            </script>
                }
                         }
                    @if (!string.IsNullOrEmpty(pva.SizeGuideUrl))
                       {
                        <li class="pull-right no_brd no_bg">
                            <a href="" class="size_guide">SIZE GUIDE</a>
                            <div class="Popup_img"><img src="@imageUrl"></div>
                        </li>
                        }
                    </ul>
                </div>
                break;
                
            case Orbio.Core.Domain.Catalog.AttributeControlType.ColorSquares:
            <div id="productattr_color" >
                
                    <ul class="size_li clearfix">
                       
                        <li class="no_bg">@pva.TextPrompt :  @Html.Hidden(pvaId, pva.Id)  @Html.Hidden(pvaTextPrompt, pva.TextPrompt) @Html.Hidden(pvaAttributeControlType, pva.AttributeControlType) </li>
                        @{
             
                foreach (var pvav in pva.Values)
                {
                    var pvavId = string.Format("ProductVariantAttributes[{0}].Values[{1}].Id", count, valueCount);
                    var pvavAnchId = string.Format("ProductVariantAttributes_{0}__Values_{1}__Id", count, valueCount);
                    var pvavAnchIdli = string.Format("liProductVariantAttributes_{0}__Values_{1}__Id", count, valueCount);
                             @*if (@ViewBag.name == @pvav.Name)
                             {
                                <li id="@pvavAnchIdli" class="select"> @Html.Hidden(pvavId, (pvav.IsPreSelected ? pvav.Id : 0))<a id="@pvavAnchId" data-id="@Html.Id(pvavId)" data-val="@pvav.Id" href="#"><input type="submit" style="outline:none;width:100%;height:100%; border-style:none;background:none" name="@pvav.Id" value="@pvav.Name" /></a></li>
                             }
                             else
                             {*@
                            <li id="@pvavAnchIdli" class="@(pvav.IsPreSelected ? "select" : "attrvalue")" style="background-color:@pvav.ColorSquaresRgb"> @Html.Hidden(pvavId, (pvav.IsPreSelected ? pvav.Id : 0))
                                <a id="@pvavAnchId"  data-id="@Html.Id(pvavId)" data-val="@pvav.Id"  href="#"><input type="submit" style="outline:none;width:100%;height:100%; border-style:none;background:none;background-color:@pvav.ColorSquaresRgb" name="@string.Format("pvav_{0}_{1}", pva.Id, pvav.Id)" value="@pvav.Name"/></a></li>
                    //}  
                    pvavScriptsIds.Add(pvavAnchId);
                    valueCount++;
                }
                if (pvavScriptsIds.Count > 0)
                {
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    //test
                                    var pvavIds = "@pvavScriptsIds.Aggregate((p1, p2) => p1 + "," + p2)";
                                    var pvavIdSplits = pvavIds.split(',');
                                    for (var i = 0; i < pvavIdSplits.length; i++) {
                                        $('#' + pvavIdSplits[i]).click(function () {
                                            $('#' + $(this).attr('data-id')).val($(this).attr('data-val'));
                                        });
                                    }
                                });
                            </script>
                }
                         }
                       @if (!string.IsNullOrEmpty(pva.SizeGuideUrl))
                       {
                        <li class="pull-right no_brd no_bg">
                            <a href="" class="size_guide">SIZE GUIDE</a>
                            
                            <div class="Popup_img"><img src="@imageUrl"></div>
                        </li>
                       }
                    </ul>
                </div>
                                        break;

                                    }
                                    count++;
                                }
                            }
}

  
    