@model List<Orbio.Web.UI.Models.Catalog.ProductVariantAttributeModel>
@{
    var count = 0;
foreach(var pva in this.Model)
{
    var pvaId = string.Format("ProductVariantAttributes[{0}].Id", count);
    var pvaTextPrompt = string.Format("ProductVariantAttributes[{0}].TextPrompt", count);
    var pvaAttributeControlType = string.Format("ProductVariantAttributes[{0}].AttributeControlType", count);
    switch (pva.AttributeControlType)
    {
        case Orbio.Core.Domain.Catalog.AttributeControlType.TableBlock:
            <div id="productattr" class="avab_size">
                
                    <ul class="size_li clearfix">
                       
                        <li class="no_bg">@pva.TextPrompt :  @Html.Hidden(pvaId, pva.Id)  @Html.Hidden(pvaTextPrompt, pva.TextPrompt) @Html.Hidden(pvaAttributeControlType, pva.AttributeControlType) </li>
                        @{var valueCount = 0;
                         foreach(var pvav in pva.Values){
                             var pvavId = string.Format("ProductVariantAttributes[{0}].Values[{1}].Id", count, valueCount);
                             var pvavAnchId = string.Format("ProductVariantAttributes_{0}__Values_{1}__Id", count, valueCount);
                             var pvavAnchIdli = string.Format("liProductVariantAttributes_{0}__Values_{1}__Id", count, valueCount);
                            <li id="@pvavAnchIdli" class="attrvalue"> @Html.Hidden(pvavId, 0)<a id="@pvavAnchId" data-id="@Html.Id(pvavId)" data-val="@pvav.Id" href="#">@pvav.Name</a></li>
                             valueCount++;
                         }
                        }
                        <li class="pull-right no_brd no_bg">
                            <a href="" class="size_guide">SIZE GUIDE</a>
                            <div class="Popup_img"><img src="images/Basic_image/Alukkas_-_Bangle_Size.png"></div>
                        </li>
                    </ul>
                </div>
            break;
    }
    count++;
}
}
  
    