@model Orbio.Web.UI.Models.Catalog.SearchModel
@{
    ViewBag.Title = "Category";
}
@*@Html.Action("PriceBar", "Home")*@
<section class="listing_page">
    <div class="container">

        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            @*@{
                    foreach (var breadCrumb in this.Model.BreadCrumbs)
                    {
                        <li><a href="@Url.RouteUrl("Category", new { SeName = breadCrumb.SeName })?p=ct">@breadCrumb.Name</a></li>
                    }
                }*@
            <li><a href="#">Search</a></li>
            @*<li class="active">@this.Model.Totalcount </li>*@
        </ol>

        <div class="row">
            <div class="col-sm-2">






                @{

                    var keyword = Request.QueryString["q"].ToString();
                }

                @Html.Action("ProductFilterBySearch", "Catalog", new { categoryId = this.Model.CategoryId, selectedSpecs = this.Model.SelectedSpecificationAttributeIds, selectedPriceRange = this.Model.SelectedPriceRange, keyword = keyword })

            </div>
            <div class="col-sm-10">


                <div class="filter_cat">@this.Model.Products.Count @ViewBag.searchkeyword</div>
                <div class="featured_items" align="center">
                    <ul class="feature_li four_items">
                        @{
                            Html.RenderPartial("_CategoryProductBySearch", this.Model);
                        }
                        @Html.Hidden("specification")  @Html.Hidden("paging")
                    </ul>
                    <div class="clear"></div>
                    <div class="no-product"></div>
                </div>
            </div>







        </div>
    </div>

</section>
@section scripts{
    <script type="text/javascript">

    $(function () {
        $('#sl2').slider().on('slideStop', function (ev) {
            if (ev != null && ev.value != null && ev.value.length > 1) {
                var specboxes = $('input[id=specFilterCheckBox]');
                var specs = '';
                $.each(specboxes, function () {
                    if ($(this).is(':checked')) {
                        specs += $(this).attr('data-id') + ",";
                    }
                });
                window.location.href = $(this).attr('data-url') + '&spec=' + specs + ev.value[0] + '~' + ev.value[1];
            }
        });

        if (($("#sl2").attr('data-slider-min') == 0 && $("#sl2").attr('data-slider-max') == 0) || ($("#sl2").attr('data-slider-min') == $("#sl2").attr('data-slider-max'))) {
            $("div[id='priceFilter']").hide();
        }
        $('input[id=specFilterCheckBox]').on('change', function (e) {
            // if ($(this).is(':checked')) {
            var specboxes = $('input[id=specFilterCheckBox]');
            var specs = '';
            $.each(specboxes, function () {
                if ($(this).is(':checked')) {
                    specs += $(this).attr('data-id') + ",";
                }
            });
            var priceRange = $('div .price-range > div>div').children('.tooltip-inner').text();
            var sliderMin = $('#sl2').data('slider-min');
            var sliderMax = $('#sl2').data('slider-max');
            var selectedRanges = priceRange.split(':');
            var priceFilter = '';
            if (selectedRanges[0].trim() != sliderMin || selectedRanges[1].trim() != sliderMax) {
                priceFilter = selectedRanges[0].trim() + '~' + selectedRanges[1].trim() + ',';
            }
            var n = specs.lastIndexOf(",");
            var specs = specs.substring(0, n)
            if (specs.length == 0) {
                var p = priceFilter.lastIndexOf(",");
                var priceFilter = priceFilter.substring(0, p)
            }
            window.location.href = $(this).attr('data-url') + '&spec=' + priceFilter + specs;
            //}
            //else {
            //    //NEED TO REMOVE SPEC FORM URL
            //}
        });


        //    $('#ei-slider').eislideshow({
        //        animation           : 'center',
        //        autoplay            : true,
        //        slideshow_interval  : 3000,
        //        titlesFactor        : 0
        //});
    });


    // Carousel Auto-Cycle
    $(document).ready(function () {
        function lastPostFunc() {
            var slug = '@ViewBag.slug';
            var keyWord = '@ViewBag.keyWord';
            var str = '@ViewBag.spec';
            $('#specification').val(str)
            var spec = $('#specification').val();
            var pageNumber = "";
            if ($('#paging').val() == "")
            { pageNumber = $('#paging').val(1); pageNumber = parseInt(pageNumber.val()) + 1; }
            else
            { pageNumber = $('#paging').val(); pageNumber = parseInt(pageNumber) + 1; }

            $('#paging').val(pageNumber);
            $('#no-product').html('<img src="Content/themes/base/images/torus_loader.gif" />');
            $.ajax({
                type: "POST",
                url: '@(Url.Action("CategoryPaging", "Catalog"))?seName=' + slug + '&spec=' + spec + '&keyWord=' + keyWord + '&pageNumber=' + pageNumber,
                    success: function (data) {

                        if (data.trim() != "") {
                            $('.feature_li:last').append(data);
                            $('#no-product').empty();
                        }
                        else {
                            $('.no-product').html('<span>NO MORE PRODUCT TO DISPLAY</span>')
                        }

                    }

                })
            };

            $(window).scroll(function () {
                if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                    lastPostFunc();
                }
            });

            $('.carousel').carousel({
                interval: 3000
            })
        });


        //Listview

        //$('.listview button').on('click',function(e) {
        //    if ($(this).hasClass('three_view')) {
        //        $('.featured_items ul').removeClass('four_items');
        //    }
        //    else if($(this).hasClass('four_view')) {
        //        $('.featured_items ul').addClass('four_items');
        //    }
        //});

        //$('.listview button').click(function(e) {
        //    e.preventDefault(); //prevent the link from being followed
        //    $('.listview button').removeClass('selected');
        //    $(this).addClass('selected');
        //});


        /*Price slider */

        $("[data-slider]")
       .each(function () {
           var input = $(this);
           $("<span>")
             .addClass("output")
             .insertAfter($(this));
       })
       .bind("slider:ready slider:changed", function (event, data) {
           $(this)
             .nextAll(".output:first")
               .html(data.value.toFixed(3));
       });
    </script>

<script>
    function addItemToCart(id) {
        //if (val == "delete") {
        //    ShowSuccessMsg("The item has been deleted from your Wishlist.");
        //}
        //else {

        //}
        $("#Intro").css("display", "inline");
        $("#Inner").css("display", "inline");
        $.ajax({
            type: "POST",
            url: '@(Url.Action("AddItemToCart", "ShoppingCart"))?id=' + id,
            success: function (result) {
                if (result == "Success") {
                    setTimeout(function () {
                        $("#Intro").css("display", "none");
                        $("#Inner").css("display", "none");
                    }, 2000)
                    setTimeout(function () {
                        ShowSuccessMsg("The item added to your cart.");
                    }, 1000)
                    $(".cart_item").load('@(Url.Action("CartItem", "ShoppingCart"))');
                }
                else {
                    setTimeout(function () {
                        $("#Intro").css("display", "none");
                        $("#Inner").css("display", "none");
                    }, 2000)
                    window.location.href = window.location.origin + "/" + result + "?p=pt";
                }
            }
        });
    }
</script>


<script type="text/javascript">
    function addItemToWishList(id) {
        $("#Intro").css("display", "inline");
        $("#Inner").css("display", "inline");
        $.ajax({
            type: "POST",
            url: '@(Url.Action("AddItemToWishList", "Customer"))?id=' + id,
            success: function (result) {
                if (result == "Success") {
                    setTimeout(function () {
                        $("#Intro").css("display", "none");
                        $("#Inner").css("display", "none");
                    }, 2000)
                    setTimeout(function () {
                        ShowSuccessMsg("The item added to your wishlist");
                    }, 1000)
                }
            }
        });
    }
</script>

}