@model List<Orbio.Web.UI.Models.Catalog.ProductDetailModel>
@{
    var i = 0;
    var j = 0;
    var count = 1;
}
<div class="container similar_main">
    @if (Model.Count > 0)
    {
        <div class="similar_slider">
            <h1>SIMILAR PRODUCTS</h1>

        </div>
        <div align="left" class="new_carsol">
            <a data-slide="prev" href="#myCarousel4" class="carousel-control left"> <</a>
            <a data-slide="next" href="#myCarousel4" class="carousel-control right">></a>
        </div>
        <div class="carousel slide" id="myCarousel4">
            <div class="carousel-inner">
                @if (this.Model.Count > 0)
                {
                    foreach (var products in this.Model.GroupBy(x => x.Id).Select(y => y.First()))
                    {
                        if ((i % 4) == 0)
                        {
                            if (j == 0)
                            {
                                @Html.Raw("<div class='item active'>");
                    @Html.Raw("<ul class='similar'>");
                            }
                            j++;
                        }
                        <li class="col-sm-3">
                            <div class="main_thumb" style="width:75%">
                                <div class="thumbnail">
                                    <a href="@Url.RouteUrl("Category", new { SeName = products.SeName })?p=pt"><img alt="" src="@products.DefaultPicture.FullSizeImageUrl"></a>
                                </div>
                                <div class="caption">
                                    <div class="list_light_dark">@products.Name</div>
                                    <div class="detail_list_cart">
                                        <ul class="list_cart">
                                            <li>
                                                <input type="submit" value="" class="add_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="save_it_icon">
                                            </li>
                                            <li>
                                                <input type="submit" value="" class="share_it_icon">
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="list_thumb_offer">@products.CurrencyCode. @products.ProductPrice.Price.ToString("#,##0.00")</div>
                                </div>
                            </div>
                        </li>
                        if (((i + 1) % 4) == 0)
                        {
                            @Html.Raw("</ul>");
                    @Html.Raw("</div>");
                                       if (this.Model.Count != count)
                                       {
                                        @Html.Raw("<div class='item'>");
                    @Html.Raw("<ul class='similar'>");
                                       }
                                       i = -1;
                        }
                        i++;
                        count++;
                    }
                }
                else
                {
                    @Html.Raw("<div class='item active'>");
                    @Html.Raw("<ul class='similar'>");
                }
                @if (this.Model.Count < count)
                {
                    @Html.Raw("</ul>")
                    @Html.Raw("</div>")
                }
            </div>



        </div><!-- /#myCarousel -->
    }
    else
    {
        <div style="text-align:center">
            <img src="~/Images/Basic_image/banner1.jpg" style="width: 25%;" />
        </div>
    }
</div>

