@{
    var genericAttributeService = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Orbio.Services.Common.IGenericAttributeService>();
    var workContext = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Orbio.Core.IWorkContext>();
}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/images/Basic_image/logo.png"></a>
        </div>
        @*<ul class="menu_desc">
                <li class="select_menu">
                    <a>
                        <select class="menu_select">
                            <option>All Categories</option>
                            <option>2</option>
                        </select>
                        <input type="text" class="select_text" placeholder="Enter Your Keyword...">
                        <input type="submit" class="search_butt" value="">
                    </a>
                </li>
            </ul>*@
        @Html.Action("SearchBox", "Catalog")
        <div class=" collapse head_main in">
            <ul class="nav navbar-nav navbar-right">
                @*<li class="cart_item"><a href="@Url.RouteUrl("ShoppingCart")">0 ITEMS <i class="mnu_item_icon"></i></a></li>*@
                <li class="cart_item">
                    @Html.Action("CartItem", "ShoppingCart")
                </li>
                <li>
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Hi @ViewBag.UserName
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            @if (workContext.CurrentCustomer.IsRegistered)
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("MyAccount", "Customer")">My Account</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("LogOut", "Account")">Logout</a></li>
                            }
                            else
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Login", "Account")">Login</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@Url.Action("Register", "Account")">Register</a></li>
                            }
                        </ul>
                    </div>
                </li>
            </ul>

        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="second_menu">
    <div class="container">

        <div class="navbar navbar-default" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav ">
                    <li><a href="@Url.RouteUrl("Category", new { SeName = "AboutUs" })?p=ft">About Us</a></li>
                    <li><a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct">Jewellery</a></li>
                    <li><a href="">News</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="@Url.RouteUrl("Category", new { SeName = "ContactUs" })?p=ft">Contact</a></li>
                </ul>

            </div><!--/.nav-collapse -->

        </div>

    </div>
</div>