@model TopMenuModel
@using Orbio.Web.UI.Models.Catalog;

@{
    var genericAttributeService = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Orbio.Services.Common.IGenericAttributeService>();
    var workContext = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Orbio.Core.IWorkContext>();
}
<div class="top-menu-new">
    <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p>07 SEP 2015 - 22k Gold/gm | Rs.2400.00</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="top-rgt pull-right">
                @if (workContext.CurrentCustomer.IsRegistered)
                       {
                <li class="my-account">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-user"></i>
                            Hi @workContext.CurrentCustomer.Email
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a href="@Url.Action("LogOut", "Account")">Logout</a></li>
                        </ul>
                    </div>
                </li>
                       }
                else
                {
                <li class="log-in">
                    <a href="@Url.Action("Register", "Account")"><i class="fa fa-user"></i>Register</a>
                </li>
                <li class="log-in">
                    <a href="@Url.Action("Login", "Account")" class="mywish"><i class="fa fa-sign-in"></i>Login</a>
                </li>
                    }
            </ul>
        </div>
    </div>
</div>
<div class="navbar navbar-default home" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="~/images/Basic_image/Francis-Alukkas-Logo.png"></a>
        </div>
        @Html.Action("SearchBox", "Catalog")

        <div class=" collapse head_main in ">
            <ul id="cart_item" class="nav navbar-nav navbar-right">
                @*<li class="icon-cart"><i class="cart-icon"></i><span>5</span></li>*@
                @Html.Action("CartItem", "ShoppingCart")

            </ul>

        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="second_menu home">
    <div class="container">

        <div class="navbar navbar-default" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav ">
                    @helper RenderCategoryLine(CategorySimpleModel category, int level)
{
            if (category.SubCategories.Count > 0)
                        {
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle" onclick="location.href = '@Url.RouteUrl("Category", new { SeName = category.SeName })?p=ct'">@category.Name<i class="fa fa-angle-down"></i></a>
                        @if (category.SubCategories.Count > 0)
                        {
                            <ul class="dropdown-menu">
                                <li>
                                    <div class="row">
                                        <div class="">
                                            @foreach (var subCategory in category.SubCategories)
                                            {
                                                <div class="col-sm-2">
                                                    @RenderSubCategoryLine(subCategory)
                                                </div>
												
                                            }
											    <div class="test">

                                                <a href="#">
                                                    <img class="menu-img" src="~/images/Basic_image/Sub-banner1.jpg">
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        }
                    </li>
                        }
            else
            {
                <li><a href="#" onclick="location.href = '@Url.RouteUrl("Category", new { SeName = category.SeName })?p=ct'">@category.Name</a></li>
            }
}


                    @helper RenderSubCategoryLine(CategorySimpleModel category)
{
                    <h3>
                        <a href="@Url.RouteUrl("Category", new { SeName = category.SeName })?p=ct">@category.Name</a>
                    </h3>
                    <ul>
                        @if (category.SubCategories.Count > 0)
                        {
                            int count = 0;
                            foreach (var subCategory in category.SubCategories)
                            {
                                if (count < (int)ViewBag.NumberOfCategory)
                                {
                                    <li><a href="@Url.RouteUrl("Category", new { SeName = subCategory.SeName })?p=ct">@subCategory.Name</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.RouteUrl("Category", new { SeName = category.SeName })?p=ct"><i>ViewAll</i></a></li>
                                    break;
                                }
                                count++;
                            }

                        }

                    </ul>
}

                    @if (Model != null)
                    {
                        if (Model.Categories.Count > 0)
                        {
                            foreach (var category in Model.Categories)
                            {
                                @RenderCategoryLine(category, 0)
                            }
                        }
                    }
                </ul>
                

            </div><!--/.nav-collapse -->
            @if (workContext.CurrentCustomer.IsAdmin)
                {
                    <ul class="nav navbar-nav navbar-right admin-link">
                        <li><a href="~/Admin">Administrator</a></li>
                    </ul>
                }
        </div>
    </div>
</div>





<script src="~/Scripts/jquery.js"></script>
<script>
    $(document).ready(function () {
        @*$("#drpcategorysearch").change(function () {
        var Search_Str = $(this).val();;
        var wid = $(this).width();
        $("#nav-search-in-content").text(Search_Str);
        });*@
        $('#search_button').click(function (e) {
            e.preventDefault();
            if ($('#twotabsearchtextbox').val().trim() != "") {
                var url = "@Url.RouteUrl("Category", new { SeName = "Search" })?p=sr&q=" + $('#twotabsearchtextbox').val().trim().replace(/\s/g, '');
                // url = 'Search?p=sr&q=' + $('#twotabsearchtextbox').val();
                window.location.href = url;
            }
            else { return false; }

        });
        $('#twotabsearchtextbox').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                if ($('#twotabsearchtextbox').val().trim() != "") {
                    var url = "@Url.RouteUrl("Category", new { SeName = "Search" })?p=sr&q=" + $('#twotabsearchtextbox').val().trim().replace(/\s/g, '');
                    //url = 'Search?p=sr&q=' + $('#twotabsearchtextbox').val();
                    window.location.href = url;
                }
                else { return false; }
            }

        });
    });

</script>

<script>
    $('ul.unstyled').each(function () {
        $(this).children('li').slice(7).hide();
    });

    if($(window).width() < 767 ){
     $('.select_menu').hide();
    $('.search-set').click(function(){
      $('.select_menu').slideToggle();
    });
    }
</script>