@model Orbio.Web.UI.Areas.Admin.Models.Catalog.CategoryDetailModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}


<div class="container">
    @using (Html.BeginForm("UpdateCategory", "Catalog", FormMethod.Post))
    {
     if (Model.Categories.Id!=0)
     {
      @Html.HiddenFor(m => m.Categories.Id, new { Value = Model.Categories.Id })
    <div class="main_edit_order">
        <span class="edit_order_details">
            <span class="edit_order_icon"></span><a href="" class="add_new_check">EDIT CATEGORY DETAILS - @Model.Categories.Name</a>
        </span>
        <span class="back_to_order"><u><a href="@Url.Action("ManageCategories", "Catalog")">back to category list</a></u></span>
    </div>
    <div class="preview_main">
        <ul>
            <li><input type="submit" class="prev_button" value="Save"></li>
            <li><a href="@Url.Action("DeleteCategory", "Catalog", new { Id = Model.Categories.Id })"><input type="button" value="Delete" class="prev_button" onclick="return confirm('Are you sure you want to delete');"></a></li>
        </ul>
    </div>
     }
     else
     {
        <div class="main_edit_order">
            <span class="edit_order_details"><span class="edit_order_icon"></span><a href="#" class="add_new_check">ADD NEW CATEGORY</a></span>
            <span class="back_to_order" style="padding-top:0px">
            <input type="submit" value="Save" class="add_cat_button"> 
                <a href="@Url.Action("ManageCategories", "Catalog")"><input type="button" value="Cancel" class="delete_cat_button"></a>
        </div>
        
     }
    <div class="tab_main_order col-md-12">
        <ul id="myTab" role="tablist" class="tabview_order_ul">

            <li class="active cctv_resp_li" role="presentation"><a aria-expanded="true" aria-controls="based" data-toggle="tab" role="tab" id="home-tab" href="#info">INFO</a></li>

            <li role="presentation our_value" class="control_resp_li"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#products">PRODUCTS & DISCOUNTS</a></li>

            @*<li role="presentation" class="gate_resp_li"><a aria-controls="wireless" data-toggle="tab" role="tab" href="#discount">DISCOUNT</a></li>*@

        </ul>
    </div>

    <div class="tab_side_solutions col-md-12">
        <div class="tab-content tab_content_solutions" id="myTabContent">
            <div aria-labelledby="home-tab" id="info" class="tab-pane fade in active  " role="tabpanel">
               
                @{
                    Html.RenderPartial("CategoryInfo", this.Model);
                }
            </div>
            <div aria-labelledby="home-tab" id="products" class="tab-pane fade " role="tabpanel">
                <div class="col-md-12" style=" margin-bottom: 34px;background-color: #fff;margin-top: 10px;width:100%">
                    <div class="col-md-9 main_order_table" style="width: 72%;">
                        @Html.Action("CategoryProduct", new { Id = Model.Categories.Id })
                    </div>
                    <div class="col-md-3 add_new_projects">
                        @{
                        Html.RenderPartial("DiscountCategory", this.Model);
                        }
                    </div>
                </div>
               
            </div>
                </div>
            </div>
    }
</div>

@section scripts {
   
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            var CategoryId = @Html.Raw(Json.Encode(Model.Categories.Id));
            $(document).on("click", "#contentPager a[href]", function () {
                $.ajax({
                    data: {Id : CategoryId},
                    url: $(this).attr("href"),
                    cache: false,
                    type: "GET",
                    success: function (data) {
                        $('#catprod').html(data);
                    }
                });
                return false;
            });
        });
    </script>

<script>

    $("#fileUpload").change(function () {
        uploadImage();
    });


    function uploadImage() {

        var data = new FormData();

        var files = $("#fileUpload").get(0).files;

        // Add the uploaded image content to the form data collection
        if (files.length > 0) {
            data.append("UploadedImage", files[0]);
        }

        // Make Ajax request with the contentType = false, and procesDate = false
        $.ajax({
            type: "POST",
            url:'@Url.Action("uploadImg", "Picture")',
            contentType: false,
            processData: false,
            data: data,
            success: function (result) {
                var json = JSON.parse(result);
                $("#hdnPicture").val(json.pictureId);
                $('#uploadImg').attr("src", json.imageUrl);
                $('#RemoveImage').prop("disabled", false);
            },
            error: function (xhr) {
                alert("Error has occurred..");
            }
        });
    }


    $("#RemoveImage").click(function () {
        var id = $("#hdnPicture").val();
        $.ajax({
            type: "POST",
            url: '@(Url.Action("RemoveImage", "Picture"))?id=' + id,
            success: function (result) {
                $('#uploadImg').attr("src","");
                $('#uploadImg').addClass("defaultimg");
                $('#uploadImg').toggleClass("class", "defaultimg");
                $("#hdnPicture").val(1);
            },
            error: function (xhr) {
                alert("Error has occurred..");
            }
        });
    });
</script>

<script>
    function SaveUpdatedDisplayOrder(id,categoryId)
    {
        var displayOrder=document.getElementById('txtdisplayorder'+id).value;
        $.ajax({
            type: "POST",
            url:'@Url.Action("EditCategoryProduct", "Catalog")',
            //contentType: false,
            //processData: false,
            data:{productId:id,categoryId:categoryId,displayOrder:displayOrder},
            //data: data,
            success: function (result) {
                $('#catprod').html(result);
            },
            error: function (xhr) {
                alert("Error has occurred..");
            }
        });
    }
</script>

}
   
