@model Orbio.Web.UI.Areas.Admin.Models.Catalog.CategoryDetailModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}


<div class="container">
    @using (Html.BeginForm("UpdateCategory", "Catalog", FormMethod.Post))
    {
     if (Model.Categories.Id!=0)
     {
      @Html.HiddenFor(m => m.Categories.Id, new { Value = Model.Categories.Id })
    <div class="main_edit_order">
        <span class="edit_order_details"><span class="edit_order_icon"></span>EDIT CATEGORY DETAILS - @Model.Categories.Name<a href="@Url.Action("ManageCategories", "Catalog")" style="top:0px;text-transform:none;"> (back to category list)</a></span>
        <span class="back_to_order" style="padding-top:0px">
        <input type="submit" value="Save" class="add_cat_button"> 
            <a href="@Url.Action("DeleteCategory", "Catalog", new { Id = Model.Categories.Id })"><input type="button" value="Delete" class="delete_cat_button" onclick=" return confirm('Are You Sure'); "></a></span>
    </div>
     }
     else
     {
        <div class="main_edit_order">
            <span class="edit_order_details"><span class="edit_order_icon"></span>ADD NEW CATEGORY<a href="@Url.Action("ManageCategories", "Catalog")" style="top:0px;text-transform:none;"> (back to category list) </a></span>
            <span class="back_to_order" style="padding-top:0px">
            <input type="submit" value="Save and continue edit" class="add_cat_button"> 
                <a href="@Url.Action("ManageCategories", "Catalog")"><input type="button" value="Cancel" class="delete_cat_button"></a></div>
     }
    <div class="tab_main_order col-md-12">
        <ul id="myTab" role="tablist" class="tabview_order_ul">

            <li class="active cctv_resp_li" role="presentation"><a aria-expanded="true" aria-controls="based" data-toggle="tab" role="tab" id="home-tab" href="#info">INFO</a></li>

            <li role="presentation our_value" class="control_resp_li"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#products">PRODUCTS</a></li>

            <li role="presentation" class="gate_resp_li"><a aria-controls="wireless" data-toggle="tab" role="tab" href="#discount">DISCOUNT</a></li>

        </ul>
    </div>

    <div class="tab_side_solutions col-md-12">
        <div class="tab-content tab_content_solutions" id="myTabContent">
            <div aria-labelledby="home-tab" id="info" class="tab-pane fade in active  " role="tabpanel">
               
                @{
                    Html.RenderPartial("CategoryInfo", this.Model);
                }
            </div>
            <div aria-labelledby="home-tab" id="products" class="tab-pane fade " role="tabpanel">
                @{
                    Html.RenderPartial("CategoryProduct", this.Model);
                }
            </div>
            <div aria-labelledby="home-tab" id="discount" class="tab-pane fade " role="tabpanel">
                @{
                    Html.RenderPartial("DiscountCategory", this.Model);
                }
            </div>
        </div>
    </div>
    }
</div>
