@model Orbio.Web.UI.Areas.Admin.Models.Catalog.CategoryDetailModel

<div role="tabpanel" class="tab-pane" id="products">
    <div class="col-lg-12 protab">
        <div class="table-responsive best-seller-table">
            <table id="tableData1" class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th>PRODUCT</th>
                        <th>Is featured product?</th>
                        <th>Dsiplay Order</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @if (this.Model.Products!= null)
                    {
                        if (this.Model.Products.Count > 0)
                     {
                         foreach (var item in Model.Products)
                      {
                        <tr style="display: table-row;">
                            <td>@item.Name</td>
                            <td>@item.IsFeaturedProduct</td>
                            <td>@item.DisplayOrder</td>
                            <td><label class="img_sprite" onclick="Delete(@item.Id)"></label></td>
                        </tr>
                        }
                        }
                        else
                        {
                        <tr style="display: table-row;">
                           <td colspan="5"> No products available</td>
                        </tr>
                        }
                    }
                    else
                    {
                    <tr style="display: table-row;">
                        <td colspan="5"> No products available</td>
                    </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function Delete(Id) {
        var r = confirm("Do you want to delete ?");
        if (r == true) {
            window.location.href = '@Url.Action("DeleteCategoryProduct", "Catalog", new { id = Model.Categories.Id })?cId=' + Id
        }
    }


</script>