@model Orbio.Web.UI.Areas.Admin.Models.Catalog.CategoryDetailModel

@Html.HiddenFor(m => m.Categories.PictureId, new { value=Model.Categories.PictureId, @id="hdnPicture"})
<div class="col-md-6 add_cart_left_side">
    <h3>Category information</h3>
        <div class="form-group">
            <label>Category : </label>
            @Html.TextBoxFor(m => m.Categories.Name, new { @class = "category_text_add_cat", onkeyup = "javascript:GenerateScript()", id = "catgname",required="required" })
        </div>
        <div class="form-group">
            <label class="description_cart">Description : </label>
            @Html.TextAreaFor(m => m.Categories.Description, new { @class = "description_textarea" })
        </div>
        <div class="form-group">
            <label>Category template : </label>
                @Html.DropDownListFor(m => m.Categories.CategoryTemplate, new SelectList(Model.Categories.CategoryTemplateList, "Id", "Name"), new { @class = "category_select_add_cat" })
        </div>
    <div class="form-group">
        <label>Picture : </label>
        <table class="product_add_cart uploadFile" style="/* width: 92%; */ margin-top: -4%;margin-left: 29%;">
            <tbody>
                <tr>
                    <td>
                        @if (Model.Categories.PictureUrl == null)
                        { 
                        <img id="uploadImg" width="100" height="100" src="/Areas/Admin/images/thumbs/default-image.gif" style="margin-left: 12%;float: left;">
                        }
                        else
                        {
                            var baseImageUrl = System.Configuration.ConfigurationManager.AppSettings["ImageServerBaseUrl"];
                            var imageUrl = baseImageUrl + Model.Categories.PictureUrl;
                            <img id="uploadImg" width="100" height="100" src="@imageUrl" style="margin-left: 12%;float: left;">
                        }
                    </td>
                </tr>
                <tr>
                    <td style="position:inherit;float: left;" id="uploadImage">
                        <input type="file" id="fileUpload" data-input="false" tabindex="-1" style="position: absolute; clip: rect(0px 0px 0px 0px);">
                        <label for="fileUpload">
                            <span class="add_product_submit" style="float:right;margin-left:10px;">Upload</span>
                        </label>
                    </td>

                    <td id="removeImage" style="position: inherit;float: left;">
                        <input type="button" value="Cancel" id="RemoveImage" name="RemoveImage" class="add_product_submit" @((Model.Categories.PictureId == 0) ? "disabled" : "")>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
        <div class="form-group">
            <label>Parent category : </label>
                @Html.DropDownListFor(m => m.Categories.ParentCategory, new SelectList(Model.Categories.CategoryList, "Id", "Name"), "[none]", new { @class = "none_select_add_cat" })
         </div>
        <div class="form-group">
            <label>Display order : </label>
            @Html.TextBoxFor(m => m.Categories.DisplayOrder, new { @type = "number", @class = "category_text_add_cat", value = "0",style="margin-left:14.5%;" })
        </div>
    <div class="form-group">
        <label>Add To Menu : </label>
        @Html.CheckBoxFor(m => m.Categories.ShowOnHomePage, new { @*@class = "show_on_home_page_check"*@  style = "top:0px;margin: 0"})

        <label class="published_add_cart">Published : </label>
        @Html.CheckBoxFor(m => m.Categories.Published, new { style = "top:0px;margin: 0" })
    
        <label class="published_add_cart">Acess Control List : </label>
        @Html.CheckBoxFor(m => m.Categories.SubjectToACL, new { style = "top:0px;margin: 0" })
    </div>
</div>
<div class="col-md-6 add_cart_left_side">
    <h3>Seo</h3>
        <div class="form-group">
            <label>Meta Title : </label>
            @Html.TextBoxFor(m => m.Categories.MetaTitle, new { @class = "category_text_seo_meta" })
            @*<input type="text" class="category_text_seo_meta">*@
        </div>
        <div class="form-group">
            <label class="description_cart">Meta Description : </label>
            @Html.TextAreaFor(m => m.Categories.MetaDescription, new { @class = "seo_description_textarea" })
            @*<textarea class="seo_description_textarea"></textarea>*@
        </div>
        <div class="form-group">
            <label>Meta keywords: </label>
            @Html.TextBoxFor(m => m.Categories.MetaKeyWords, new { @class = "category_text_seo_cat" })
        </div>
        <div class="form-group">
            <label>Search engine friendly page name : </label>
            @Html.TextBoxFor(m => m.Categories.SearchEngine, new { @class = "category_text_seo_frnd_name", id = "slug", style = "margin-left: 3%;" })
        </div>
    
    </div>
<script>
    function GenerateScript()
    {
        var key = $("#catgname").val().trim();
        key = key.replace(/ /g, "-");
        $("#slug").val(key);
    }
</script>