@model Orbio.Web.UI.Areas.Admin.Models.Catalog.CategoryDetailModel


<div class="col-md-12">
    <table class="product_add_cart">
        <thead>
        <td>Product</td>
        <td>is featured product?</td>
        <td>display order</td>
        <td>delete</td></thead>
        <tbody>
            @if (this.Model.Products != null)
            {
                if (this.Model.Products.Count > 0)
                {
                    foreach (var item in Model.Products)
                    {
                        <tr style="display: table-row;">
                            <td style="float:left"><label style="margin-left:20px;font-weight:normal;">@item.Name</label></td>
                            <td>@item.IsFeaturedProduct</td>
                            <td>@item.DisplayOrder</td>
                            <td><a style="cursor:pointer" href="@Url.Action("DeleteCategoryProduct", "Catalog", new { Id = Model.Categories.Id, cId = item.Id })" onclick=" return confirm('Are You Sure'); "><img src="~/Areas/Admin/images/trash-black.png" /></a></td>
                            @*<td><label class="img_sprite" onclick="Delete(@item.Id)"></label></td>*@
                        </tr>
                    }
                }
                else
                {
                    <tr style="display: table-row;">
                        <td colspan="4"> No products available</td>
                    </tr>
                }
            }
            else
            {
                <tr style="display: table-row;">
                    <td colspan="4"> No products available</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<div role="tabpanel" class="tab-pane" id="products">
    <div class="col-lg-12 protab">
        <div class="table-responsive best-seller-table">
            <table id="tableData1" class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th>PRODUCT</th>
                        <th>Is featured product?</th>
                        <th>Dsiplay Order</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @if (this.Model.Products!= null)
                    {
                        if (this.Model.Products.Count > 0)
                     {
                         foreach (var item in Model.Products)
                      {
                        <tr style="display: table-row;">
                            <td>@item.Name</td>
                            <td>@item.IsFeaturedProduct</td>
                            <td>@item.DisplayOrder</td>
                            <td><label class="img_sprite" onclick="Delete(@item.Id)"></label></td>
                        </tr>
                        }
                        }
                        else
                        {
                        <tr style="display: table-row;">
                           <td colspan="5"> No products available</td>
                        </tr>
                        }
                    }
                    else
                    {
                    <tr style="display: table-row;">
                        <td colspan="5"> No products available</td>
                    </tr>
                    }
                    </tbody>
            </table>
        </div>
    </div>
</div>*@

<script>
    function Delete(Id) {
        var r = confirm("Do you want to delete ?");
        if (r == true) {
            window.location.href = '@Url.Action("DeleteCategoryProduct", "Catalog", new { id = Model.Categories.Id })?cId=' + Id
        }
    }
</script>