@model Orbio.Web.UI.Areas.Admin.Models.Catalog.ManufacturerDetailModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <div class="main_edit_order">
        <span class="edit_order_details"><span class="shipmen_icon"></span><a href="">MANUFACTURERS</a></span>
        <span class="back_to_order" style="padding-top:0px">
            <a href="@Url.Action("AddManufacturer","Catalog")"><input type="button" value="Add New" class="add_cat_button"></a>
            @*<input type="button" value="Export to XML" class="delete_cat_button">*@
        </span>
    </div>

    <div class="col-md-12 order_list" style="border-radius: 10px;margin-left: 11px;width:98%;height:60px">
        @using (Html.BeginForm("SearchManufacturer", "Catalog", FormMethod.Post))
        {
            <div class="col-md-2 colmd"><label>Manufacturer Name:</label></div>
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.Search, new { @class = "start_order_date_email" })
            </div>
    <div class="billing_address_text" style="padding-top: 2px;">
        <input type="submit" class="search_order_list" value="SEARCH">
    </div>
        }
    </div>
    <div class="col-md-9 main_order_table" style="width: 100%;">
        <table class="item_admin_order">
            <thead>
            <td>Name</td>
            <td>published</td>
            <td>display order</td>
            <td>Edit/Delete</td></thead>
            <tbody>
                @if (Model.ManufacturerList != null)
                {
                    if (Model.ManufacturerList.Count > 0)
                    {
                        int count=1;
                        foreach (var item in Model.ManufacturerList)
                        {
                            if(count==1)
                            { 
                            <tr class="first_row">
                                <td class="varient_align" style="text-align:center">@item.Name </td>
                                <td class="varient_align" style="text-align:center">
                                    <label class="@(item.Published ? "img_sprite1" : "img_sprite")"></label>
                                </td>
                                <td class="varient_align" style="text-align:center">@item.DisplayOrder</td>
                                <td class="varient_align" style="text-align:center">
                                    <a href="@Url.Action("EditManufacturers", "Catalog", new { Id = item.Id })"><label class="edit_ring"></label></a>
                                    <a href="@Url.Action("DeleteManufacturer", "Catalog", new { Id = item.Id })"><label class="delete_ring" onclick=" return confirm('Are you sure you want to delete'); "></label></a>
                                </td>
                            </tr>
                                count++;
                            }
                            else
                            {
                                <tr class="second_row">
                                    <td class="varient_align" style="text-align:center">@item.Name </td>
                                    <td class="varient_align" style="text-align:center">
                                        <label class="@(item.Published ? "img_sprite1" : "img_sprite")"></label>
                                    </td>
                                    <td class="varient_align" style="text-align:center">@item.DisplayOrder</td>
                                    <td class="varient_align" style="text-align:center">
                                        <a href="@Url.Action("EditManufacturers", "Catalog", new { Id = item.Id })"><label class="edit_ring"></label></a>
                                        <a href="@Url.Action("DeleteManufacturer", "Catalog", new { Id = item.Id })"><label class="delete_ring" onclick=" return confirm('Are you sure you want to delete'); "></label></a>
                                    </td>
                                </tr>
                                count = 1;
                            }
                        }
                    }
                    else
                    {
                        <tr>

                            <td colspan="4">No records to display</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>

                        <td colspan="4">No records to display</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>