@model CategoryDetailModel

@using Orbio.Web.UI.Areas.Admin.Models.Catalog
@{
    ViewBag.Title = "ManageCategories";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <div class="main_edit_order">
        <span class="edit_order_details"><span class="edit_order_icon"></span><a href="#" class="add_new_check">MANAGE CATEGORIES</a></span>
    </div>
</div>
<div class="container addcontainer">
    <div class="col-md-12 colmd1">
        <div class="pull-right"><a href="@Url.Action("AddCategory","Catalog")"><input type="button" value="Add New" class=" Sbut  ssbut1"></a></div>
    </div>
</div>
<div class="container">


    <div class="panel-group" id="accordion">
        @helper RenderCategoryLine(CategoryModel category, int level)
{
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#@level">
                        @category.Name
                    </a>
                </h4>
                <label class="jewdelete" onclick="DeleteCategory(@category.Id)"></label>
                <label class="jewedit" onclick="EditCategory(@category.Id)"></label>
            </div><!--/.panel-heading -->

            <div id=@level class="panel-collapse collapse">
                @if (category.CategoryList.Count > 0)
                {
                    int count = 0;
                    string id = "cat" + count;

                    <div class="panel-body">
                            <!-- nested -->
                    <div class="panel-group" id="nested">
                        @foreach (var subCategory in category.CategoryList)
                        {
                            @RenderSubCategoryLine(subCategory, id)
                            count++;
                            id = "cat" + count;
                        }

                    </div>
                    </div>

                }
            </div>
        </div>

}
        @helper RenderSubCategoryLine(CategoryModel category, string count)
{
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#@count">
                        @category.Name
                    </a>
                </h4>
                <label class="jewdelete" onclick="DeleteCategory(@category.Id)"></label>
                <label class="jewedit" onclick="EditCategory(@category.Id)"></label>
            </div>
            <div id=@count class="panel-collapse collapse ">
                @if (category.CategoryList.Count > 0)
                {

                    <div class="panel-group" id="nested-inner" style="margin-bottom:0px;">
                        @foreach (var subCategories in category.CategoryList)
                        {
                            <div class="panel-body">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#@count">
                                            @subCategories.Name
                                        </a>
                                    </h4>
                                    <label class="jewdelete" onclick="DeleteCategory(@subCategories.Id)"></label>
                                    <label class="jewedit" onclick="EditCategory(@subCategories.Id)"></label>
                                </div>
                            </div>
                            </div>
                        }
                    </div>
                }

            </div>

        </div>
}


        @if (Model != null)
        {
            if (Model.ParentCategories.Count > 0)
            {
                int level = 0;
                foreach (var category in Model.ParentCategories)
                {
                    @RenderCategoryLine(category, level)
                    level++;
                }
            }
        }
    </div>

</div>

<script>
    function EditCategory(Id) {
        window.location.href = '@Url.Action("EditCategory","Catalog")?id=' + Id;
    }
</script>
<script>
    function DeleteCategory(Id) {
        var r = confirm("Do you want to delete ?");
        if (r == true) {
            window.location.href = '@Url.Action("DeleteCategory","Catalog")?id=' + Id;
        }
    }
</script>























