@model Orbio.Web.UI.Areas.Admin.Models.Catalog.ManufacturerDetailModel

<div role="tabpanel" class="tab-pane active" id="standard">
    <div class="col-md-12 standerd">
        <div class="col-md-12">
            <div class="col-md-2"><label>Manufacturer Name:</label></div>
            <div class="col-md-4">@Html.TextBoxFor(m => m.Manufacturer.Name, new { @class = "creatext", onkeyup = "javascript:GenerateScript()", id = "manufname" }) 
          @Html.HiddenFor(m=>m.Manufacturer.Id)
              @*<input type="text" name="prorductname" class="creatext">*@</div>
        </div>

        <div class="col-md-12" style="padding-bottom:20px;">
            <div class="col-md-2"> <label>Description:</label></div>
            <div class="col-md-4">
                @Html.TextAreaFor(m => m.Manufacturer.Description, new { @class = "metainput" })
                @*<textarea name="content" style="width:100%" class="word"></textarea>*@
            </div>

        </div>
    </div>
    <div class="col-md-12 admin-content" style="margin-top:10px;">
        <div class="col-md-12 rproduct">
            <div class="col-md-12">
                <div class="col-md-3 colmd"><label>Meta title:</label></div>
                <div class="col-md-5">@Html.TextBoxFor(m => m.Manufacturer.MetaTitle, new { @class = "metainput" })</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 colmd"><label>Meta description:</label></div>
                <div class="col-md-5">@Html.TextAreaFor(m => m.Manufacturer.MetaDescription, new { @class = "metainput" })</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 colmd"><label>Meta keywords:</label></div>
                <div class="col-md-5">@Html.TextBoxFor(m => m.Manufacturer.MetaKeyWords, new { @class = "metainput" })</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 colmd"><label>Search engine friendly page name:</label></div>
                <div class="col-md-5">@Html.TextBoxFor(m => m.Manufacturer.SearchEngine, new { @class = "metainput", id = "slug" })</div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 colmd"><label>Manufactures template</label></div>
                <div class="col-md-5">@Html.DropDownListFor(m => m.Manufacturer.ManufacturerTemplate, new SelectList(Model.Manufacturer.ManufacturerTemplates, "Id", "Name"), new { @class = "creatext jewellery" })</div>
            </div>
            
            <div class="col-md-12">
                <div class="col-md-3 colmd"><label>Published</label></div>
                <div class="col-md-5">
                    @Html.CheckBoxFor(m => m.Manufacturer.Published, new { @class = "show-page2" })
                    <span></span>

                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3 colmd"><label>Display order</label></div>
                <div class="col-md-5">@Html.TextBoxFor(m => m.Manufacturer.DisplayOrder, new { @type = "number", @class = "creatext" })</div>
            </div>

            @*<div class="col-md-12">
            <div class="col-md-3 colmd"><label>Picture</label></div>
            <div class="col-md-4 colmd">

                <div class="upload">
                    Upload a file
                    <input multiple="multiple" type="file" name="file" class="filtext" style="">
                </div>
            </div>
        </div>*@

            @*<div class="col-md-12">
            <div class="col-md-3 colmd"><label>Price Range</label></div>
            <div class="col-md-4 colmd">@Html.TextBoxFor(m => m.Manufacturer.PriceRange, new { @class = "creatext" })</div>
        </div>*@
        </div>

    </div>
</div>
<script>
    function GenerateScript()
    {
        var key = $("#manufname").val().trim();
        key = key.replace(/ /g, "-");
        $("#slug").val(key);
    }
</script>