@model Orbio.Web.UI.Areas.Admin.Models.Catalog.ManufacturerDetailModel

<div class="col-md-6 add_cart_left_side">
    <h3>Manufacturer Information</h3>
    <div class="form-group">
        <label>Manufacturer Name : </label>
        @Html.TextBoxFor(m => m.Manufacturer.Name, new { @class = "creatext display_order_add_cart", onkeyup = "javascript:GenerateScript()", id = "manufname", @style = "margin-left:8%;", required = "required" })
        @Html.HiddenFor(m => m.Manufacturer.Id)
    </div>
    <div class="form-group">
        <label class="description_cart">Description : </label>
        @Html.TextAreaFor(m => m.Manufacturer.Description, new { @class = "description_textarea" })
    </div>
    <div class="form-group">
        <label>Category Template : </label>
        @Html.DropDownListFor(m => m.Manufacturer.ManufacturerTemplate, new SelectList(Model.Manufacturer.ManufacturerTemplates, "Id", "Name"), new { @class = "category_select_add_cat" })
    </div>
    <div class="form-group">
        <label>Display Order : </label>
        @Html.TextBoxFor(m => m.Manufacturer.DisplayOrder, new { @type = "number", @class = "creatext display_order_add_cart", value = "0", @style="margin-left:15%;" })
    </div>
    <div class="form-group">
        <label>Published : </label>
        @Html.CheckBoxFor(m => m.Manufacturer.Published, new { @class = "show_on_home_page_check" })
    </div>
    <div class="form-group">
        <label>Acess Control List : </label>
        @Html.CheckBoxFor(m => m.Manufacturer.SubjectToACL, new { @class = "show_on_home_page_check" })
    </div>
</div>
<div class="col-md-6 add_cart_left_side">
    <h3>Seo</h3>
    <div class="form-group">
        <label>Meta Title : </label>
        @Html.TextBoxFor(m => m.Manufacturer.MetaTitle, new { @class = "category_text_seo_meta" })
        @*<input type="text" class="category_text_seo_meta">*@
    </div>
    <div class="form-group">
        <label class="description_cart">Meta Description : </label>
        @Html.TextAreaFor(m => m.Manufacturer.MetaDescription, new { @class = "seo_description_textarea" })
        @*<textarea class="seo_description_textarea"></textarea>*@
    </div>
    <div class="form-group">
        <label>Meta Keywords: </label>
        @Html.TextBoxFor(m => m.Manufacturer.MetaKeyWords, new { @class = "category_text_seo_cat" })
    </div>
    <div class="form-group">
        <label>Search Engine Friendly Page Name : </label>
        @Html.TextBoxFor(m => m.Manufacturer.SearchEngine, new { @class = "category_text_seo_frnd_name", id = "slug", @style = "margin-left:3%;" })
    </div>

</div>

<script>
    function GenerateScript()
    {
        var key = $("#manufname").val().trim();
        key = key.replace(/ /g, "-");
        $("#slug").val(key);
    }
</script>