@model Orbio.Web.UI.Areas.Admin.Models.Product.ProductModel
@{
    var pvaId = Model.ProductVariantAttribute.Select(m => m.Id).FirstOrDefault();
    var pvaSizeguide = Model.ProductVariantAttribute.Select(m => m.SizeGuideUrl).FirstOrDefault();
    var baseImageUrl = System.Configuration.ConfigurationManager.AppSettings["ImageServerBaseUrl"];
    var imageUrl = baseImageUrl + pvaSizeguide;
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
<div class="container">
    <div class="main_edit_order">
        <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check"> Add/Edit Size Guide Image</a></span>
        <span class="back_to_order"><u><a href="@Url.Action("Edit", "Product", new { id=Model.Id})">Back to product details</a></u></span>
    </div>
</div>
<div class="container">
    <div class="col-md-12" style=" margin-bottom: 34px;background-color: #fff;margin-top: 10px;width:100%">
        <div class="col-md-9 main_order_table" style="width: 40%;margin-left: 8%;">
            <div id="catprod">
                <table class="item_admin_order" id="tableData">
                    <thead>
                    <td>Picture</td>
                    <td></td>
                    </thead>
                    <tbody id="trData">
                        @if (pvaSizeguide != null)
                           {
                            <tr class="first_row rowItems" id="@pvaId">
                            <td class="align_center" style="cursor: move;"><img src="@imageUrl" alt="ring" width="320" height="200" /></td>
                            <td class="align_center" style="text-align:left;padding-top:28px;width:10px"><a href="@Url.Action("DeleteSizeGuideUrl", "Product", new { id = pvaId })"><input type="button" name="btnDeleteOrderItem@(pvaId)" value="" id="btnDeleteOrderItem@(pvaId)" class="delete_ring" onclick=" return confirm('Are you sure you want to delete'); " /></a></td>
                            </tr>
                           }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3 add_new_projects" style="width:40%">
            @using (Html.BeginForm("AddSizeGuideUrl", "Product", new { productVariantAttributeId = pvaId }, FormMethod.Post, new { Id = "formvariantattributesize" }))
            {
                <div class="col-md-12">
                    <h3>Upload New Picture</h3>
                    <table class="product_add_cart uploadFile" border="0">
                        @Html.Action("PictureUpload", "Picture")
                        <tr>
                            <td style="float:left;position:relative;left:65px">
                                <input type="submit" value="Upload" id="AddSizeGuideUrl" name="AddSizeGuideUrl" class="add_product_submit" />
                            </td>
                            <td id="removeImage" style="float:left;position: relative;left: 104px;">
                                <input type="button" value="Cancel" id="RemoveImage" name="RemoveImage" class="add_product_submit" disabled="disabled" />
                            </td>
                        </tr>
                    </table>
                </div>
                @Html.HiddenFor(m => m.PictureModel.PictureId)
                @Html.HiddenFor(m => m.Id)
            }
        </div>
    </div>
</div>