@model Orbio.Web.UI.Areas.Admin.Models.Product.ProductModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

<div class="container">
    <div class="main_edit_order">
        <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">Edit product detail - @Model.Name</a></span>
        <span class="back_to_order"><u><a href="@Url.Action("List","Product")">Back to product list</a></u></span>
    </div>
    @using (@Html.BeginForm())
    {
        <div class="preview_main">
            <ul>
                @*<li><input type="button" class="prev_button" value="Preview"></li>*@
                <li><input type="submit" name="EditProduct" id="EditProduct" class="prev_button" value="Save"></li>
                @*<li><input type="button" class="prev_button" value="Save & Continue Edit"></li>*@
                @*<li><input type="button" class="prev_button" value="Copy Product"></li>*@
                <li><input type="button" class="prev_button" value="Delete"></li>
            </ul>
        </div>
        <div class="moving_menu_main">
            <div class="srlBx">

                <div id="HomeMarquee_srlCont" class="srlContHome">
                    <div id="srlData">
                        <ul class="itabN1 clearfix" id="myTab" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#productinfo" class="" aria-expanded="true" data-toggle="tab" role="tab">
                                    Product info
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#seo" class="" data-toggle="tab" role="tab" aria-expanded="true">
                                    SEO
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#pictures" class="" data-toggle="tab" role="tab" aria-expanded="false">
                                    Pictures
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#specification" class="" data-toggle="tab" role="tab" aria-expanded="false">
                                    Specification Attributes
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#attribute" class="" data-toggle="tab" role="tab" aria-expanded="false">
                                    Products Attributes
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#productcomponent" class="" data-toggle="tab" role="tab" aria-expanded="false">
                                    Product Component
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#pricecomponent" class="" data-toggle="tab" role="tab" aria-expanded="false">
                                    Price Component
                                </a>
                            </li>
                            <li role="presentation">
                                <a href="#acl" class="" data-toggle="tab" role="tab" aria-expanded="false">
                                    Access Control List
                                </a>
                            </li>
                        </ul>
                        <div class="tab-content product_add_tab_main new" id="myTabContent">
                            @Html.Partial("_CreatOrUpdateInfo", Model)

                            <div id="seo" class="tab-pane fade" role="tabpanel">
                                @Html.Partial("_CreateOrUpdateSeo", Model)
                            </div>
                            <div id="pictures" class="tab-pane fade" role="tabpanel">
                                @Html.Partial("_CreateOrUpdatePicture")
                            </div>

                            <div id="specification" class="tab-pane fade" role="tabpanel">
                                @Html.Partial("_CreateOrUpdateSpecificationAttribute", Model)
                            </div>

                            <div id="attribute" class="tab-pane fade" role="tabpanel">
                                @Html.Partial("_CreateOrUpdateProductAttribute", Model)
                            </div>

                            <div id="productcomponent" class="tab-pane fade" role="tabpanel">

                            </div>

                            <div id="pricecomponent" class="tab-pane fade" role="tabpanel">

                            </div>

                            <div id="acl" class="tab-pane fade" role="tabpanel">

                            </div>
                        </div>
                        <div class="cB"></div>
                    </div>
                </div>
                <div class="cB"></div>
            </div>
        </div>
    }
</div>
<script src="~/Areas/Admin/Scripts/tinymce/tinymce.min.js"></script>
@section scripts {
<script type="text/javascript">
    $(document).ready(function () {
        var referrer = "";
        if (document.referrer.indexOf(window.location.hostname) != -1) {
            referrer = document.referrer;
        }
        $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
             localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        if (referrer != "") {
            localStorage.setItem('activeTab', '');
        }
        else
        {
            var activeTab = localStorage.getItem('activeTab');
            if (activeTab) {
                $('#myTab a[href="' + activeTab + '"]').tab('show');
            }
        }
    });

</script>
    <script type="text/javascript">
        tinymce.init({
            selector: "#FullDescription",
            plugins: [
                    "advlist autolink autosave link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "table contextmenu directionality emoticons template textcolor paste fullpage textcolor colorpicker textpattern"
            ],

            toolbar1: "newdocument fullpage | bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | styleselect formatselect fontselect fontsizeselect",
            toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
            toolbar3: "table | hr removeformat | subscript superscript | charmap emoticons | print fullscreen | ltr rtl | spellchecker | visualchars visualblocks nonbreaking template pagebreak restoredraft",

            menubar: false,
            toolbar_items_size: 'small',

            style_formats: [
                    { title: 'Bold text', inline: 'b' },
                    { title: 'Red text', inline: 'span', styles: { color: '#ff0000' } },
                    { title: 'Red header', block: 'h1', styles: { color: '#ff0000' } },
                    { title: 'Example 1', inline: 'span', classes: 'example1' },
                    { title: 'Example 2', inline: 'span', classes: 'example2' },
                    { title: 'Table styles' },
                    { title: 'Table row 1', selector: 'tr', classes: 'tablerow1' }
            ],

            templates: [
                    { title: 'Test template 1', content: 'Test 1' },
                    { title: 'Test template 2', content: 'Test 2' }
            ]
        });</script>

    <script type="text/javascript">
        $(document).ready(function () {

            $('.enabling').on('click', function () {
                if ($('.enabling').is(':checked')) {
                    $(".show_div_check_true").show();
                } else {
                    $(".show_div_check_true").hide();
                }
            });
            $('.enablingTax').on('click', function () {
                if ($('.enablingTax').is(':checked')) {
                    $("#taxcat").show();
                } else {
                    $("#taxcat").hide();
                }
            });

            $('.enablingInv').on('change', function () {
                var invValue = $("#ManageInventoryMethodId").val();
                if (invValue == 1) {
                    $("#trackInv").show();
                }
                else {
                    $("#trackInv").hide();
                }
            });

            if ($('.enabling').is(':checked')) {
                $(".show_div_check_true").show();
            } else {
                $(".show_div_check_true").hide();
            }

            if ($('.enablingTax').is(':checked')) {
                $("#taxcat").show();
            } else {
                $("#taxcat").hide();
            }
            var invValue = $("#ManageInventoryMethodId").val();
            if (invValue == 1) {
                $("#trackInv").show();
            }
            else {
                $("#trackInv").hide();
            }

            var SpecialPriceStartDateTimeUtc = $("#SpecialPriceStartDateTimeUtc").val();
            var SpecialPriceEndDateTimeUtc = $("#SpecialPriceEndDateTimeUtc").val();
            if (SpecialPriceStartDateTimeUtc != "") {
                $("#SpecialPriceStartDateTimeUtc").kendoDateTimePicker({
                    value: SpecialPriceStartDateTimeUtc
                });
            }
            else {
                $("#SpecialPriceStartDateTimeUtc").kendoDateTimePicker({
                    value: new Date()
                });
            }
            if (SpecialPriceEndDateTimeUtc != "") {
                $("#SpecialPriceEndDateTimeUtc").kendoDateTimePicker({
                    value: SpecialPriceEndDateTimeUtc
                });
            }
            else {
                $("#SpecialPriceEndDateTimeUtc").kendoDateTimePicker({
                    value: new Date()
                });
            }

            var AvailableStartDateTimeUtc = $("#AvailableStartDateTimeUtc").val();
            var AvailableEndDateTimeUtc = $("#AvailableEndDateTimeUtc").val();
            if (AvailableStartDateTimeUtc != "") {
                $("#AvailableStartDateTimeUtc").kendoDateTimePicker({
                    value: AvailableStartDateTimeUtc
                });
            }
            else {
                $("#AvailableStartDateTimeUtc").kendoDateTimePicker({
                    value: new Date()
                });
            }
            if (AvailableEndDateTimeUtc != "") {
                $("#AvailableEndDateTimeUtc").kendoDateTimePicker({
                    value: AvailableEndDateTimeUtc
                });
            }
            else {
                $("#AvailableEndDateTimeUtc").kendoDateTimePicker({
                    value: new Date()
                });
            }
        });

    </script>
    <script type="text/javascript">
        $(".chosen-deselect").chosen({ allow_single_deselect: true });
        $(".chosen").chosen().change();
        $(".chosen").trigger('liszt:updated');
    </script>
<script>

    $(function () {
        $('#trData').sortable();
        $('button').on('click', function () {
            var ids = [];
            $('.rowItems').each(function (index, value) {
                var id = $(value).prop('id');
                ids.push(id);
            });
            $.post('@(Url.Action("UpdatePicture", "Product"))',
                { Ids: JSON.stringify(ids) },
                function (response) {

                }
            );
        })
    });
</script>
<script>
        $(function () {
            $('#trSpecData').sortable();
            $('#savespecdisplay').on('click', function () {
                var ids = [];
                $('.rowItemsSpec').each(function (index, value) {
                    var id = $(value).prop('id');
                    ids.push(id);
                });
                $.post('@(Url.Action("UpdateSpecificationDisplayOrder", "Product"))',
                    { SpecIds: JSON.stringify(ids) },
                    function (response) {
                }
            );
        })
    });
</script>
<script>
    $(function () {
        $('#trPvaData').sortable();
        $('#savePvaDisplay').on('click', function () {
            var ids = [];
            $('.rowItemsPva').each(function (index, value) {
                var id = $(value).prop('id');
                ids.push(id);
            });
            $.post('@(Url.Action("UpdateProductVariantAttributeDisplayOrder", "Product"))',
                { PvaIds: JSON.stringify(ids) },
                function (response) {

                }
            );
        })
    });
</script>



}

