@model List<Orbio.Web.UI.Areas.Admin.Models.Product.ProductModel>
@{
    Layout = null;
}

@foreach (var item in this.Model)
{
    <tr>
        <td style="text-align:center"><input type="checkbox" name="deleteProductId" value="@item.Id" /></td>
        <td class="align_center"><img src="@item.ImageUrl" alt="ring" width="58" height="53"/></td>
        <td class="align_center" style="text-align:left">@item.Name</td>
        <td class="align_center">@item.Sku</td>
        <td class="align_center">@item.Price</td>
        <td class="align_center">@item.StockQuantity</td>
        <td class="align_center">@item.Published</td>
        <td><a style="cursor:pointer" href="@Url.Action("Edit", "Product", new { id = item.Id })">Edit</a></td>

    </tr>
}


