@model List<Orbio.Web.UI.Areas.Admin.Models.Product.ProductModel>
@{
    Layout = null;
    var count = 1;
}

@foreach (var item in this.Model)
{
    if (count == 1)
    {
        @:<tr class="first_row">
                        count++;
    }
    else
    {
        @:<tr class="second_row">
                        count = 1;
    }
    @:<td class="align_center" style="padding-top:28px"><input type="checkbox" name="deleteProductId" value="@item.Id" /></td>
    @:<td class="align_center"><img src="@item.ImageUrl" alt="ring" width="58" height="53" /></td>
    @:<td class="align_center" style="text-align:left;padding-top:28px"><a style="cursor:pointer" href="@Url.Action("Edit", "Product", new { id = item.Id })">@item.Name</a></td>
    @:<td class="align_center" style="padding-top:28px">@item.Sku</td>
    @:<td class="align_center" style="padding-top:28px;text-align:right">@item.Price.ToString("#,##0.00")</td>
    @:<td class="align_center" style="padding-top:28px">@item.StockQuantity</td>
    @:<td class="align_center" style="padding-top:28px">@item.Published</td>

    @:</tr>
}


