 @model Orbio.Web.UI.Models.CheckOut.AddressModel
@{
    ViewBag.Title = "Address";
}




<section class="Payment">
<div class="container">
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">My Account</li>
</ol>


<div class="payment_detail" align="center">
  <div class="row form-group">
        <div class="col-xs-12">
        <div class="top_payment" align="center">
        <div class="top_inner_prod">
            <ul class="nav nav-pills nav-justified thumbnail setup-panel">
                <li class="active"><a href="#step-1">
                    <h4 class="list-group-item-heading">1</h4>
                    <p class="list-group-item-text">Address</p>
                </a></li>
                <li class="disabled"><a href="#step-2">
                    <h4 class="list-group-item-heading">2</h4>
                    <p class="list-group-item-text">Payment</p>
                </a></li>
                <li class="disabled"><a href="#step-3">
                    <h4 class="list-group-item-heading">3</h4>
                    <p class="list-group-item-text">Confirmation</p>
                </a></li>
            </ul>
            </div>
            </div>
        </div>
  </div>
    <div class="row setup-content" id="step-1">
            <div class="col-md-8 col-sm-8">
            <div class="well">
            <div class="row">
@using (Html.BeginForm("index", "CheckOut", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal ",id="formcheckout" }))
                    {
    @Html.AntiForgeryToken()
                <div class="col-md-6 col-sm-6">
      
      @*//  @Html.ValidationSummary()*@
<div class="Shipping_address">
<h1>SHIPPING ADDRESS</h1>
                 <dl class="dl-horizontal">
  <dt>First Name<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.ShipFirstName)</dd>
  <span id="shipfirstname" style="display:none" class="field-validation-error" data-valmsg-for="ShipFirstName" data-valmsg-replace="true">First Name Required</span>
  <dt>Last Name<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.ShipLastName)</dd>
  <span id="shiplastname" style="display:none" class="field-validation-error" data-valmsg-for="ShipLastName" data-valmsg-replace="true">Last Name Required</span>
  <dt>Phone<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.ShipPhone)</dd>
  <span id="shipphone" style="display:none" class="field-validation-error" data-valmsg-for="ShipPhone" data-valmsg-replace="true" style="padding-left:30px;">Phone Number Required</span>
  <dt>Address<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.ShipAddress)</dd>
  <span id="shipaddress" style="display:none" class="field-validation-error" data-valmsg-for="ShipAddress" data-valmsg-replace="true">Address Required</span>
  <dt>City<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.ShipCity)</dd>
  <span id="shipcity" style="display:none" class="field-validation-error" data-valmsg-for="ShipCity" data-valmsg-replace="true">City Required</span>

  <dt>Pincode<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.ShipPincode)</dd>
  <span id="shippincode" style="display:none" class="field-validation-error" data-valmsg-for="ShipPincode" data-valmsg-replace="true">Pincode Required</span>
  <dt>State<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.ShipState)</dd>
  <span id="shipstate" style="display:none" class="field-validation-error" data-valmsg-for="ShipState" data-valmsg-replace="true">State Required</span>
  <dt>Country<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.ShipCountry)</dd>
  <span id="shipcountry" style="display:none" class="field-validation-error" data-valmsg-for="ShipCountry" data-valmsg-replace="true">Country Required</span>
  </dl>

               </div>
                </div>
                <div class="col-md-6 col-sm-6">
                
<div class="Shipping_address bill_address">
<h1>BILLING ADDRESS</h1>
@*@using (Html.BeginForm("index", "CheckOut", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal ",id="formcheckout" }))
                     {
     @Html.AntiForgeryToken()
    // @Html.ValidationSummary()*@
<div class="same_bill">@Html.CheckBoxFor(m => m.SameAddress, new { onclick="fnCheckSelection();"}) Billing Address same as shipping address</div>
  <dl class="dl-horizontal">
  <dt>First Name<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.BillFirstName)</dd>
  <span id="billfirstname" style="display:none" class="field-validation-error" data-valmsg-for="BillFirstName" data-valmsg-replace="true">First Name Required</span>
  <dt>Last Name<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.BillLastName)</dd>
  <span id="billlastname" style="display:none" class="field-validation-error" data-valmsg-for="BillLastName" data-valmsg-replace="true">Last Name Required</span>
  <dt>Phone<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.BillPhone)</dd>
  <span id="billphone" style="display:none" class="field-validation-error" data-valmsg-for="BillPhone" data-valmsg-replace="true">Phone Number Required</span>
  <dt>Address<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.BillAddress)</dd>
  <span id="billaddress" style="display:none" class="field-validation-error" data-valmsg-for="BillAddress" data-valmsg-replace="true">Address Required</span>
  <dt>City<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.BillCity)</dd>
  <span id="billcity" style="display:none" class="field-validation-error" data-valmsg-for="BillCity" data-valmsg-replace="true">City Required</span>
  <dt>Pincode<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.BillPincode)</dd>
  <span id="billpincode" style="display:none" class="field-validation-error" data-valmsg-for="BillPincode" data-valmsg-replace="true">Pincode Required</span>
  <dt>State<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.BillState)</dd>
  <span id="billstate" style="display:none" class="field-validation-error" data-valmsg-for="BillState" data-valmsg-replace="true">State Required</span>
  <dt>Country<span style="color:red">*</span></dt>
  <dd>@Html.TextBoxFor(m => m.BillCountry)</dd>
  <span id="billcountry" style="display:none" class="field-validation-error" data-valmsg-for="BillCountry" data-valmsg-replace="true">Country Required</span>
  </dl>

               </div>


                </div>
}
               </div>
                </div>
                <button id="activate-step-2" class="Proceed_pay">PROCEED TO PAYMENT</button>
                @*<a id="activate-step-2" class="Proceed_pay" href="@Url.Action("updatecustomer", "CheckOut", new { returnUrl = ViewBag.ReturnUrl })">PROCEED TO PAYMENT</a>*@
</div>

            <div class="col-md-4  col-sm-4">
            <div class="well">
                
            <div class="cart_total">
            <h1 class="order_sum">ORDER SUMMARY</h1>
    <dl class="dl-horizontal">
      <dt>Cart Sub Total</dt>
      <dd>@ViewBag.Currencycode.@ViewBag.subtotal</dd>
      <dt>Shipping Charges</dt>
      <dd>0</dd>
      <dt>Promotional Discounts</dt>
      <dd>0</dd>
      <dt>Estimated Tax</dt>
      <dd>0</dd>
      <dt class="cart_total">Total</dt>
      <dd class="cart_total">@ViewBag.Currencycode.@ViewBag.subtotal</dd>
    </dl>
  </div>

              </div>  


             <div class="payment_gate">
             <h1>Payment Methods</h1>
              <ul class="foot_menu clearfix">
      <li><a href="" class="visa_met"></a></li>
      <li><a href="" class="discover_met"></a></li>
      <li><a href="" class="american_met"></a></li>
      <li><a href="" class="master_met"></a></li>
      </ul>
      </div>


            </div>
<div class="clear"></div>

            
        
    </div>

<!-- step 2 -->

    <div class="row setup-content" id="step-2">

            <div class="col-md-8 col-sm-8">
            <div class="well">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                
<div class="Shipping_address payment_set">
<h1>PAYMENT</h1>
                 <dl class="dl-horizontal">
  <dt>Card Type</dt>
  <dd> 
  <ul class="foot_menu clearfix">
      <li><a href="" class="visa_met"></a></li>
      <li><a href="" class="discover_met"></a></li>
      <li><a href="" class="american_met"></a></li>
      <li><a href="" class="master_met"></a></li>
      </ul>

  </dd>
  <dt>Credit Card No</dt>
  <dd><input type="text"></dd>
  <dt>Name</dt>
  <dd><input type="text"></dd>
  <dt>Expiration Date</dt>
  <dd><div class="experted"><input type="text" class="exp_input"></div> <div class="experted">/</div><div class="experted"> <input type="text" class="exp_input"></div></dd>
  <dt>CVV</dt>
  <dd><input type="text" class="cvv"></dd>
  </dl>

               </div>
                </div>
                
               </div>
                </div>
                <button id="activate-step-3" class="Proceed_pay">PLACE ORDER</button>
            </div>

            <div class="col-md-4 col-sm-4">
            <div class="well">
                
            <div class="cart_total">
            <h1 class="order_sum">ORDER SUMMARY</h1>
    <dl class="dl-horizontal">
      <dt>Cart Sub Total</dt>
      <dd>@ViewBag.Currencycode.@ViewBag.subtotal</dd>
      <dt>Shipping Charges</dt>
      <dd>0</dd>
      <dt>Promotional Discounts</dt>
      <dd>0</dd>
      <dt>Estimated Tax</dt>
      <dd>0</dd>
      <dt class="cart_total">Total</dt>
      <dd class="cart_total">@ViewBag.Currencycode.@ViewBag.subtotal</dd>
    </dl>
  </div>

              </div>  


             


            </div>
<div class="clear"></div>



    </div>




    <div class="row setup-content" id="step-3">
        <div class="col-xs-12">
            <div class="col-md-12">
            <div class="Thank_step">
                <h1>THANK YOU FOR YOUR ORDER !!</h1>
                <p>Order Number : <span>234587</span></p>
                <p>Your order has been confirmed and you will get a confirmation email shortly.</p>
            </div>    
            </div>
        </div>
    </div>
</div>



</div>  
</section>
    @section scripts{
         <script type="text/javascript">
    $(document).ready(function() {
        // Show or hide the sticky footer button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 200) {
                $('.scroll_top').fadeIn(200);
            } else {
                $('.scroll_top').fadeOut(200);
            }
        });

        // Animate the scroll to top
        $('.scroll_top').click(function(event) {
            event.preventDefault();

            $('html, body').animate({scrollTop: 0}, 300);
        })
    });

    // Enable the Tabs

    $('#myTabs a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    });


    //Step 1, Step2


    $(document).ready(function() {

        var navListItems = $('ul.setup-panel li a'),
            allWells = $('.setup-content');

        allWells.hide();

        navListItems.click(function(e)
        {
            e.preventDefault();
            var $target = $($(this).attr('href')),
                $item = $(this).closest('li');

            if (!$item.hasClass('disabled')) {
                navListItems.closest('li').removeClass('active');
                $item.addClass('active');
                allWells.hide();
                $target.show();
            }
        });

        $('ul.setup-panel li.active a').trigger('click');

        // DEMO ONLY //
        $('#activate-step-2').on('click', function (e) {
            if (($("#ShipFirstName").val() == "") || ($("#ShipLastName").val() == "") || ($("#ShipPhone").val() == "")
                || ($("#ShipAddress").val() == "") || ($("#ShipCity").val() == "") || ($("#ShipPincode").val() == "")
                || ($("#ShipState").val() == "") || ($("#ShipCountry").val() == "") || ($("#BillFirstName").val() == "")
                || ($("#BillLastName").val() == "") || ($("#BillPhone").val() == "") || ($("#BillAddress").val() == "")
                || ($("#BillCity").val() == "") || ($("#BillPincode").val() == "") || ($("#BillState").val() == "")
                || ($("#BillCountry").val() == "")) 
            {
                if ($("#ShipFirstName").val() == "") {
                    $("#shipfirstname").css("display", "");
                }
                if ($("#ShipLastName").val() == "") {
                    $("#shiplastname").css("display", "");
                }
                if ($("#ShipPhone").val() == "") {
                    $("#shipphone").css("display", "");
                }
                if ($("#ShipAddress").val() == "") {
                    $("#shipaddress").css("display", "");
                }
                if ($("#ShipCity").val() == "") {
                    $("#shipcity").css("display", "");
                }
                if ($("#ShipPincode").val() == "") {
                    $("#shippincode").css("display", "");
                }
                if ($("#ShipState").val() == "") {
                    $("#shipstate").css("display", "");
                }
                if ($("#ShipCountry").val() == "") {
                    $("#shipcountry").css("display", "");
                }

                if ($("#BillFirstName").val() == "") {
                    $("#billfirstname").css("display", "");
                }
                if ($("#BillLastName").val() == "") {
                    $("#billlastname").css("display", "");
                }
                if ($("#BillPhone").val() == "") {
                    $("#billphone").css("display", "");
                }
                if ($("#BillAddress").val() == "") {
                    $("#billaddress").css("display", "");
                }
                if ($("#BillCity").val() == "") {
                    $("#billcity").css("display", "");
                }
                if ($("#BillPincode").val() == "") {
                    $("#billpincode").css("display", "");
                }
                if ($("#BillState").val() == "") {
                    $("#billstate").css("display", "");
                }
                if ($("#BillCountry").val() == "") {
                    $("#billcountry").css("display", "");
                }

            }
            else {
                var form = $("#formcheckout");
                var url = '@Url.Action("UpdateCustomer", "CheckOut")';
                var formData = form.serialize();
                $.post(url, formData, function (response) {

                    @*$.ajax({
                url: '@Url.Action("UpdateCustomer", "CheckOut")',
                type: 'post',
                cache: false,
                beforeSend: function () {
                },*@
                    //success: function (response) {
                    if (response != null && response == "Success") {
                        $('ul.setup-panel li:eq(1)').removeClass('disabled');
                        $('ul.setup-panel li a[href="#step-2"]').trigger('click');
                        $(this).remove();
                    }
                })
            }
            });
                    //}
        //        },
        //        complete: function () {
        //        },
        //        error: function () {
        //        }s
        //    });

        //})

        $('#activate-step-3').on('click', function(e) {
            $('ul.setup-panel li:eq(2)').removeClass('disabled');
            $('ul.setup-panel li a[href="#step-3"]').trigger('click');
            $(this).remove();
        })
    });

             @*function fnCheckSelection()
             {
                 var form = $("formcheckout");
                 $.ajax({
                     url: '@Url.Action("CheckboxDetails", "CheckOut")',
                     type: 'post',
                     data:form.serialize(),
                     cache: false
                 });
             }*@

             function fnCheckSelection()  {
                 var form = $("#formcheckout");
                 var url = '@Url.Action("CheckboxDetails", "CheckOut")';
                 var formData = form.serialize();
                 $.post(url, formData, function (result) {
                     if (result.model.SameAddress)
                     {
                         $("#BillFirstName").attr("disabled", "disabled");
                         $("#BillLastName").attr("disabled", "disabled");
                         $("#BillPhone").attr("disabled", "disabled");
                         $("#BillAddress").attr("disabled", "disabled");
                         $("#BillCity").attr("disabled", "disabled");
                         $("#BillPincode").attr("disabled", "disabled");
                         $("#BillState").attr("disabled", "disabled");
                         $("#BillCountry").attr("disabled", "disabled");
                     }
                     else {
                         $("#BillFirstName").removeAttr("disabled");
                         $("#BillLastName").removeAttr("disabled");
                         $("#BillPhone").removeAttr("disabled");
                         $("#BillAddress").removeAttr("disabled");
                         $("#BillCity").removeAttr("disabled");
                         $("#BillPincode").removeAttr("disabled");
                         $("#BillState").removeAttr("disabled");
                         $("#BillCountry").removeAttr("disabled");
                     }
                     $("#BillFirstName").val(result.model.BillFirstName)
                     $("#BillLastName").val(result.model.BillLastName)
                     $("#BillPhone").val(result.model.BillPhone)
                     $("#BillAddress").val(result.model.BillAddress)
                     $("#BillCity").val(result.model.BillCity)
                     $("#BillPincode").val(result.model.BillPincode)
                     $("#BillState").val(result.model.BillState)
                     $("#BillCountry").val(result.model.BillCountry)

                     $("#ShipFirstName").val(result.model.ShipFirstName)
                     $("#ShipLastName").val(result.model.ShipLastName)
                     $("#ShipPhone").val(result.model.ShipPhone)
                     $("#ShipAddress").val(result.model.ShipAddress)
                     $("#ShipCity").val(result.model.ShipCity)
                     $("#ShipPincode").val(result.model.ShipPincode)
                     $("#ShipState").val(result.model.ShipState)
                     $("#ShipCountry").val(result.model.ShipCountry)
                 })
             }

           </script>
        <script>
       $(document).ready(function () {
           $("#ShipPhone").keydown(function (e) {
               // Allow: backspace, delete, tab, escape, enter and .
               if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                   // Allow: Ctrl+A
                   (e.keyCode == 65 && e.ctrlKey === true) ||
                   // Allow: home, end, left, right, down, up
                   (e.keyCode >= 35 && e.keyCode <= 40)) {
                   // let it happen, don't do anything
                   return;
               }
               // Ensure that it is a number and stop the keypress
               if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                   e.preventDefault();
               }
           });
       })
             </script>
        <script>
       $(document).ready(function () {
           $("#ShipPincode").keydown(function (e) {
               // Allow: backspace, delete, tab, escape, enter and .
               if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                   // Allow: Ctrl+A
                   (e.keyCode == 65 && e.ctrlKey === true) ||
                   // Allow: home, end, left, right, down, up
                   (e.keyCode >= 35 && e.keyCode <= 40)) {
                   // let it happen, don't do anything
                   return;
               }
               // Ensure that it is a number and stop the keypress
               if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                   e.preventDefault();
               }
           });
       })
       </script>
        <script>
       $(document).ready(function () {
           $("#BillPhone").keydown(function (e) {
               // Allow: backspace, delete, tab, escape, enter and .
               if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                   // Allow: Ctrl+A
                   (e.keyCode == 65 && e.ctrlKey === true) ||
                   // Allow: home, end, left, right, down, up
                   (e.keyCode >= 35 && e.keyCode <= 40)) {
                   // let it happen, don't do anything
                   return;
               }
               // Ensure that it is a number and stop the keypress
               if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                   e.preventDefault();
               }
           });
       })
            </script>
        <script>
       $(document).ready(function () {
           $("#BillPincode").keydown(function (e) {
               // Allow: backspace, delete, tab, escape, enter and .
               if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                   // Allow: Ctrl+A
                   (e.keyCode == 65 && e.ctrlKey === true) ||
                   // Allow: home, end, left, right, down, up
                   (e.keyCode >= 35 && e.keyCode <= 40)) {
                   // let it happen, don't do anything
                   return;
               }
               // Ensure that it is a number and stop the keypress
               if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                   e.preventDefault();
               }
           });
       })

  </script>

    }