@model Orbio.Web.UI.Models.Home.ContactModel
@{
    ViewBag.Title = "ContactUs";
}

<section class="static_page">
    <div class="container">
        <div class="static_tab">
            <ul role="tablist" class="nav nav-tabs" id="myTab">
                <li class="active" role="presentation"><a aria-expanded="true" aria-controls="home" id="profile-tab" role="tab" href="#profile">CONTACT US</a></li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div aria-labelledby="profile-tab" id="profile" class="tab-pane fade" role="tabpanel" style="display: inline;">

                    <img class="" src="" />

                    <div class="row contacts ">

                        <div class="col-lg-9">

                            <div class="title"><h1>Leave Your Message</h1></div>

                            <p>Francis Alukkas Jewellery always assure customer satisfaction. We give much more importance for the customer service for after sales , our schemes and customer queries. Feel free to contact us through email or our contact details. Submit your queries using our contact form given below. Our customer service team will contact you soon and avail their assistance.</p>

                            @*<form name="contact" method="post" action="http://francisalukkas.com/site/contact" class="af-form" id="af-form">*@
                        @using (Html.BeginForm("ContactUs", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "af-form"}))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                <div class="row">



                                    <div class="af-outer af-required">

                                        <div class="af-inner">

                                            @*<input type="text" name="name" id="name" size="30" value="" placeholder="Name" class="text-input span12 placeholder" style="background-color: rgb(255, 255, 255);width:95%;margin:10px;">*@
                                            
                                            @Html.TextBoxFor(m => m.Name, new { id="name", size="30",placeholder="Name", @class="text-input span12 placeholder" ,@style="background-color: rgb(255, 255, 255);width:95%;margin:10px;"})
                                            <span style="color:red;margin-left: 10px;">@Html.ValidationMessageFor(m => m.Name)</span>

                                            @*<label class="error" for="name" id="name_error" style="display: none;">Name is required.</label>*@

                                        </div>

                                    </div>



                                </div>

                                <div class="row">



                                    <div class="af-outer af-required">

                                        <div class="af-inner">

                                            @*<input type="text" name="email" id="email" size="30" value="" placeholder="Email" class="text-input span12 placeholder" style="background-color: rgb(255, 255, 255);width:95%;margin:10px;">*@
                                           
                                             @Html.TextBoxFor(m => m.Email, new { name="email" , id="email", size="30", placeholder="Email", @class="text-input span12 placeholder", @style="background-color: rgb(255, 255, 255);width:95%;margin:10px;"})
                                            <span style="color:red;margin-left: 10px;">@Html.ValidationMessageFor(m => m.Email)</span>

                                            @*<label class="error" for="email" id="email_error" style="display: none;">Email is required.</label>*@

                                        </div>

                                    </div>



                                </div>

                                <div class="row">



                                    <div class="af-outer af-required">

                                        <div class="af-inner">
                                            @*<textarea name="message" id="input-message" cols="30" placeholder="Message" class="text-input span12 placeholder" style="background-color: rgb(255, 255, 255);width:95%;margin:10px;"></textarea>*@
                                            
                                            @Html.TextAreaFor(m => m.Message, new {id="input-message", cols="30", placeholder="Message", @class="text-input span12 placeholder", @style="background-color: rgb(255, 255, 255);width:95%;margin:10px;" })
                                            <span style="color:red;margin-left: 10px;">@Html.ValidationMessageFor(m => m.Message)</span>

                                            @*<label class="error" for="input-message" id="message_error" style="display: none;">Message is required.</label>*@

                                        </div>

                                    </div>



                                </div>

                                <div class="row">



                                    <div class="af-outer af-required">

                                        <div class="af-inner">
                                            @*<a class="btn btn-primary" style="margin:20px;" href="@Url.Action("Contact", "Home", new { model = Model })">Send Message!</a>*@
                                            <input type="submit" name="submit" class="btn btn-primary" value="Send Message!" style="margin:20px;">
                                            @*id="submit_btn"*@
                                        </div>

                                    </div>



                                </div>
                            }
                            @*</form>*@

                        </div>

                        <div class="col-lg-3">

                            <section>

                                <h6>Address</h6>

                                <address>

                                    <ul class="con-detail">

                                        <li>
                                            <i class="icon-map-marker"></i>Francis Alukkas Jewellery<br>Ram Mohan Road,

                                            Kozhikode, Kerala, <br>India. Pin code - 673 004
                                        </li>

                                        <li><i class="icon-phone"></i>+91 495- 2722288</li>

                                        <li><i class="icon-print"></i>+91 495- 2723735</li>

                                        <li><i class="icon-envelope"></i><a href="mailto:ask@francisalukkas.com" style="color:#000;">ask@francisalukkas.com</a></li>

                                    </ul><br>

                                </address>

                            </section>

                            <section>

                                <h6>Business Hour</h6>

                                <ul class="bis-hour">

                                    <li class="clearfix">Mon - Fri: 10 am  to 5 pm</li>

                                    <li class="clearfix">Sat: 10 am  to 5 pm</li>

                                    <li class="clearfix">Sunday: Open</li>

                                </ul>

                            </section>

                        </div>

                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}


