@{
    ViewBag.Title = "Home Page";
}
<section id="slider" class="slider-section">
    <!--slider-->
    <div class="top_zig"></div>
    <div class="">

        <!-- bootstrap carousel -->

        <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
            <div class='carousel-outer'>
                <!-- Wrapper for slides -->
                <div class='carousel-inner'>
                    <div class='item active'>
                        <img src='~/images/Slider/Main-Banner1.jpg' alt='' />
                    </div>
                    <div class='item'>
                        <img src='~/images/Slider/1.jpg' alt='' />
                    </div>
                    <div class='item'>
                        <img src='~/images/Slider/2.jpg' alt='' />
                    </div>

                    <div class='item'>
                        <img src='~/images/Slider/3.jpg' alt='' />
                    </div>
                </div>

            </div>

            <!-- Indicators -->
            <ol class='carousel-indicators mCustomScrollbar'>
                <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src='~/images/Slider/Main-Banner1.jpg' alt='' /></li>
                <li data-target='#carousel-custom' data-slide-to='1'><img src='~/images/Slider/1.jpg' alt='' /></li>
                <li data-target='#carousel-custom' data-slide-to='2'><img src='~/images/Slider/2.jpg' alt='' /></li>
                <li data-target='#carousel-custom' data-slide-to='3'><img src='~/images/Slider/3.jpg' alt='' /></li>
            </ol>
        </div>



    </div>
</section><!--/slider-->



<div class="thumbnail_slider explore">
    <div class="container">

        <ul class="prod-grid">
            <li>
                <div class="prod-inner">
                    <a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct&spec=20">
                        <img src="~/images/Basic_image/bangles.jpg"></a>
                        <a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct&spec=20" class="prod-prg">BANGLES</a>
                        @*<div class="prod-prg">BANGLES</div>*@
</div>
            </li>
            <li>
                <div class="prod-inner">
                    <a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct&spec=21">
                        <img src="~/images/Basic_image/earrings.png"></a>
                        <a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct&spec=21" class="prod-prg">EARRING</a>
                        @*<div class="prod-prg">EARRING</div>*@
</div>
            </li>
            <li>
                <div class="prod-inner">
                    <a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct&spec=23" >
                        <img src="~/images/Basic_image/ring.png"></a>
                        <a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct&spec=23" class="prod-prg">RING</a>
                        @*<div class="prod-prg">RING</div>*@
</div>
            </li>
            <li>
                <div class="prod-inner">
                    <a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct&spec=22">
                        <img src="~/images/Basic_image/necklace.png"></a>
                        <a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct&spec=22" class="prod-prg">NECKLACE</a>
                        @*<div class="prod-prg">NECKLACE</div>*@
</div>
            </li>
        </ul>
    </div>
</div>
<div class="alukas_banner">
    <div class="container">
        <div class="col-md-6 col-sm-6">
            <div class="">
                <img src="~/images/Basic_image/Sub-banner1.jpg" />
            </div>
            <div class="sub-ban">
                <img src="~/images/Basic_image/Sub-banner2.jpg" />
            </div>
        </div>
        <div class="col-md-6 col-sm-6">
            <img src="~/images/Basic_image/Sub-banner3.jpg" />
        </div>
    </div>
</div>

<div class="alukkas_thumbnail">

            @Html.Action("HomePageProducts", "Catalog")

</div>



<div class="alukkas_videos">
    <div class="container">
        <div class="col-md-4 col-sm-4">
            <div class="collect-images">
                <img src="~/images/Basic_image/banner1-coll.png">
                <a href="" class="collect-arrow"><i class="fa fa-caret-right"></i></a>
            </div>
            <h1>OUR EXCLUSIVE DIAMOND COLLECTION</h1>
            <p>
                Our exquisite and exclusively designed diamond jewellery collection includes earrings, bangles,
                necklaces and lots more. Our classic and timeless jewellery pieces signify beauty, excellent
                craftsmanship and unparalleled quality.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="collect-images">
                <img src="~/images/Basic_image/banner2-coll.png">
                <a href="" class="collect-arrow"><i class="fa fa-caret-right"></i></a>
            </div>
            <h1>OUR CUSTOMER STORIES</h1>
            <p>
                We believe in our customers being the best brand ambassadors for our jewellery. We are constantly
                evolving, improving and designing according to our customer’s specific needs. Our jewellery is
                designed with great attention to detail and quality.
            </p>
        </div>
        <div class="col-md-4 col-sm-4">
            <div class="collect-images">
                <img src="~/images/Basic_image/banner3-coll.png">
                <a href="" class="collect-arrow"><i class="fa fa-caret-right"></i></a>
            </div>
            <h1>EXQUISITE BRIDAL COLLECTION</h1>
            <p>
                The edgy and intricate collection will beautifully complement different ensembles for the modern
                bride. The bridal collection epitomizes timeless style and modernity at the same time with unique
                eye catching designs that complements and enhances the beauty and grandeur of a bride on her
                special day.
            </p>
        </div>
    </div>
</div>

<div class="Exc-offer">
    <div class="container">
        <p>Exclusive offer! Just for you - <span>Grab those irresistible offers by entering your email address</span></p>
    </div>
</div>
<div class="alukkas_newletter">
    <div class="container">

        <form class="form-inline">
            <div class="form-group">
                <input type="email" placeholder="Your Email" id="" class="form-control email-input">
            </div>
            <button class="btn btn-default yellow-butt" type="submit">Men</button>
            <button class="btn btn-default yellow-butt" type="submit">Women</button>
        </form>
    </div>
</div>

@section scripts{
<script type="text/javascript">
    $(document).ready(function() {
        // Show or hide the sticky footer button
        $(window).scroll(function() {
            if ($(this).scrollTop() > 200) {
                $('.scroll_top').fadeIn(200);
            } else {
                $('.scroll_top').fadeOut(200);
            }
        });

        // Animate the scroll to top
        $('.scroll_top').click(function(event) {
            event.preventDefault();

            $('html, body').animate({scrollTop: 0}, 300);
        })
    });

    $(document).ready(function() {
        $('#myCarousel-thumb').carousel({
            interval: 5000
        });
        $('.thumbnail').hover(function(){
            $('.prod-prg').css({"background":"#FFFFFF"});
        });
    });
</script>

}
