@model Orbio.Web.UI.Models.Customer.CustomerModel
@*@Html.Action("PriceBar", "Home")*@

<section class="Order_whish">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">My Account</li>
        </ol>

        <div class="order_main">
            <h1>MY ACCOUNT - DETAILS</h1>


            <div class="row">

                <!-- Navigation Buttons -->
                <div id="accountTab" class="col-md-2 col-sm-2">
                    <ul class="nav nav-pills nav-stacked" id="myTabs">
                        <li id="cDetail" class="active"><a href="#detail">MY DETAILS</a></li>
                        <li id="cAccount"><a href="#myaccount">MY ACCOUNT</a></li>
                        <li id="cWishlist"><a href="#mywishlist">MY WISHLIST</a></li>
                    </ul>
                </div>

                <!-- Content -->
                <div class="col-md-10 col-sm-10">
                    <div class="tab-content">
                        <!-- detail -->
                        <div class="tab-pane active" id="detail">

                            <div class="row">
                                <div class="col-md-9 col-sm-9">
                                    <div class="my_detail">
                                        @Html.ValidationSummary(true)
                                        <div id="viewinfo">
                                            <div>
                                                @if (!String.IsNullOrEmpty(Model.Result))
                                                {
                                                    <span>@Model.Result</span>
                                                }
                                            </div>
                                            <dl class="dl-horizontal">
                                                <dt>First Name</dt>
                                                <dd>@Model.FirstName</dd>
                                                <dt>Last Name</dt>
                                                <dd>@Model.LastName</dd>
                                                <dt>Email</dt>
                                                <dd>@Model.Email</dd>
                                                <dt>Date of Birth</dt>
                                                <dd>@Model.DOB</dd>
                                                <dt>Gender</dt>
                                                <dd>@((Model.Gender == "M") ? "Male" : "Female")</dd>
                                                <dt>Mobile No</dt>
                                                <dd>+91 @Model.Mobile</dd>
                                            </dl>

                                        </div>
                                        <div id="editinfo" style="display:none">
                                            @using (Html.BeginForm("MyAccount", "Customer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal " }))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true)
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.FirstName, new { @for = "FirstName", @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(m => m.FirstName, new { type = "Text", @class = "form-control", placeholder = "First Name" })
                                                        @Html.ValidationMessageFor(m => m.FirstName)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.LastName, new { @for = "LastName", @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                                        @Html.ValidationMessageFor(m => m.LastName)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Email, new { @for = "Email", @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "form-control", placeholder = "Email", @readonly = true })
                                                        @Html.ValidationMessageFor(m => m.Email)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.DOB, new { @for = "DOB", @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(m => m.DOB, new { @class = "form-control", placeholder = "Date Of Birth" })
                                                        @Html.ValidationMessageFor(m => m.DOB)
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.Gender, new { @for = "Gender", @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.RadioButton("Gender", "M", (Model.Gender == "M"), new { id = "gender-male" })
                                                        @Html.Label("male", "Male")

                                                        @Html.RadioButton("Gender", "F", (Model.Gender == "F"), new { id = "gender-male" })
                                                        @Html.Label("female", "Female")
                                                    </div>
                                                </div>
    <div class="form-group mob-no">
        @Html.LabelFor(m => m.Mobile, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-1">
            <input type="text" readonly="" value="+91" name="" id="" class="form-control">
        </div>
        <div class="col-sm-9">
            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control", placeholder = "Mobile Number" })
            @Html.ValidationMessageFor(m => m.Mobile)
        </div>
    </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <input type="submit" value="UPDATE" class="Buynow">&nbsp;&nbsp; OR &nbsp;&nbsp;
                                                        <input id="can" type="button" value="CANCEL" class="Buynow">
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <div id="changepwd" style="display:none; width:786px">
                                            @using (Html.BeginForm("ChangePassword", "Customer", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal " }))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true)
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.OldPassword, new { @for = "OldPassword", @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(m => m.OldPassword, new { type = "Password", @class = "form-control", placeholder = "Old Password" })
                                                        <span id="oldvalid" style="display:none" class="field-validation-error" data-valmsg-for="OldPassword" data-valmsg-replace="true">Old Password Required</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.NewPassword, new { @for = "NewPassword", @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(m => m.NewPassword, new { type = "Password", @class = "form-control", placeholder = "New Password" })
                                                        <span id="newvalid" style="display:none" class="field-validation-error" data-valmsg-for="NewPassword" data-valmsg-replace="true">New Password Required</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    @Html.LabelFor(m => m.ConfirmNewPassword, new { @for = "ConfirmNewPassword", @class = "col-sm-2 control-label" })
                                                    <div class="col-sm-10">
                                                        @Html.TextBoxFor(m => m.ConfirmNewPassword, new { type = "Password", @class = "form-control", placeholder = "ConfirmNewPassword" })
                                                        <span id="cnfnewvalid" style="display:none" class="field-validation-error" data-valmsg-for="ConfirmNewPassword" data-valmsg-replace="true">Confirm New Password Required</span>
                                                        <span id="pwdmatch" style="display:none" class="field-validation-error" data-valmsg-for="ConfirmNewPassword" data-valmsg-replace="true">Passwords does not match</span>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <input id="chpwds" type="submit" value="UPDATE" class="Buynow">&nbsp;&nbsp; OR &nbsp;&nbsp;
                                                        <input id="canpwd" type="button" value="CANCEL" class="Buynow">
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3">
                                    <div class="prof_sett">
                                        <button id="edit" type="submit" class="btn btn-yellow">EDIT PROFILE</button>
                                        <button id="chpwd" type="submit" class="btn btn-yellow">CHANGE PASSWORD</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- detail -->
                        <!-- My account -->
                       @Html.Action("Order", "Customer")
                        <!-- My account -->
                        <!-- My Wishlist -->
                       @Html.Action("WishList", "Customer")
                        <!-- My Wishlist -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

@section scripts{
    <script>
        var strURL = decodeURIComponent(window.location.href)
        var strTab = strURL.substring(strURL.indexOf("#") + 1);
        if (strTab == "wish") {
            $("#accountTab>ul>li.active").removeClass("active");
            $("#mywishlist").css("display", "block");
            $("#detail").css("display", "none");
            $("#myaccount").css("display", "none");
            $("#cWishlist").addClass("active");
        }
    </script>
    <script>
        // Enable the Tabs

        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')

        });

        $('#edit').click(function (e) {
            $("#viewinfo").css("display", "none");
            $("#editinfo").css("display", "block");
            $("#changepwd").css("display", "none");
            $('#edit').css("display", "none");
            $('#chpwd').css("display", "none");
        });

        $('#chpwd').click(function (e) {
            $("#viewinfo").css("display", "none");
            $("#editinfo").css("display", "none");
            $("#changepwd").css("display", "block");
            $('#edit').css("display", "none");
            $('#chpwd').css("display", "none");
            $("#OldPassword").val("");
            $("#NewPassword").val("");
            $("#ConfirmNewPassword").val("");
        });

        $('#chpwds').click(function (e) {
            if ($("#OldPassword").val() == "" && $("#NewPassword").val() == "" && $("#ConfirmNewPassword").val() == "") {
                $("#oldvalid").css("display", "");
                $("#newvalid").css("display", "");
                $("#cnfnewvalid").css("display", "");
                $("#pwdmatch").css("display", "none");
                return false;
            }
            else if ($("#OldPassword").val() == "") {
                $("#oldvalid").css("display", "");
                $("#newvalid").css("display", "none");
                $("#cnfnewvalid").css("display", "none");
                $("#pwdmatch").css("display", "none");
                return false;
            }
            else if ($("#NewPassword").val() == "") {
                $("#oldvalid").css("display", "none");
                $("#newvalid").css("display", "");
                $("#cnfnewvalid").css("display", "none");
                $("#pwdmatch").css("display", "none");
                return false;
            }
            else if ($("#ConfirmNewPassword").val() == "") {
                $("#oldvalid").css("display", "none");
                $("#newvalid").css("display", "none");
                $("#cnfnewvalid").css("display", "");
                $("#pwdmatch").css("display", "none");
                return false;
            }
            else if ($("#ConfirmNewPassword").val() != $("#NewPassword").val()) {
                $("#oldvalid").css("display", "none");
                $("#newvalid").css("display", "none");
                $("#cnfnewvalid").css("display", "none");
                $("#pwdmatch").css("display", "");
                return false;
            }
        });

        $('#can').click(function (e) {
            location.reload();
        });
        $('#canpwd').click(function (e) {
            //$(".validation-summary-errors").css("display", "none");
            $("#OldPassword").val("");
            $("#NewPassword").val("");
            $("#ConfirmNewPassword").val("");
            $("#viewinfo").css("display", "");
            $("#editinfo").css("display", "none");
            $("#changepwd").css("display", "none");
            $('#edit').css("display", "");
            $('#chpwd').css("display", "");
        });
    </script>
    <script>
        if ($("#FirstName").val() == "" || $("#LastName").val() == "" || $("#Email").val() == "" || $("#DOB").val() == "" || $("#Mobile").val() == "") {
            $("#viewinfo").css("display", "none");
            $("#editinfo").css("display", "block");
            $("#changepwd").css("display", "none");
            $('#edit').css("display", "none");
            $('#chpwd').css("display", "none");
        }

    </script>
<script>
    var mob = /^[1-9]{1}[0-9]{9}$/;
    if (mob.test($.trim($("#Mobile").val())) == false || $.trim("#Mobile").length == 10) {
        $("#viewinfo").css("display", "none");
        $("#editinfo").css("display", "block");
        $("#changepwd").css("display", "none");
        $('#edit').css("display", "none");
        $('#chpwd').css("display", "none");
    }

</script>

    <script>
        $(function () {
            $("#DOB").datepicker({
                yearRange: "-70:-10",
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}