@model Orbio.Web.UI.Models.Customer.PasswordRecoveryModel
<section class="Order_whish">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Password Recovery</li>
        </ol>

        <div class="order_main">
            <h1>Password recovery</h1>
            <div id="editinfo">
             
                <div id="viewinfo">
                    <div>
                        @if (!String.IsNullOrEmpty(Model.Result))
                        {
                            <span>@Model.Result</span>
                        }
                    </div>
                    @using (Html.BeginForm("PasswordRecovery", "Customer", FormMethod.Post, new{@class = "form-horizontal " }))
                    {
                        @Html.AntiForgeryToken()
    <div style="margin-left: 17%;">
        <span style="color:red"> @Html.ValidationSummary(true)</span>
    </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @for = "Email", @class = "col-sm-2 control-label",style="text-align:right" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" value="RECOVER" class="Buynow">
                            </div>
                        </div>
                    }

                </div>



        </div>
    </div>
</section>

