@model List<Orbio.Web.UI.Models.Orders.ShoppingCartItemModel>

@{
    foreach(var wishlist in this.Model)
    { 
<tr>
    <td><input type="hidden" id="result" value="" />
    <a class="cartitem" href="@Url.RouteUrl("Category", new { SeName = wishlist.Name })?p=pt"><img src="@wishlist.DefaultPicture.ImageUrl" width="120px" height="65px"></a></td>
    <td class="p_wish" style="text-align:left;padding-top:20px">
        <a class="cartitem" href="@Url.RouteUrl("Category", new { SeName = wishlist.Name })?p=pt">
            @wishlist.Name
            </a>
        <br />
        @foreach (var attribute in wishlist.ProductVariantAttributes)
        {
            @attribute.TextPrompt <span>:</span>@attribute.Values[0].Name
        }
</td>
    <td>@wishlist.ProductPrice.Price</td>
    <td><a href="#" onclick="updatewhishlist('@wishlist.CartId','delete');"><img src="~/Images/Basic_image/trash-black.png" id="delete" /></a></td>
   <td><a href="#" onclick="updatewhishlist('@wishlist.CartId','addtocart');"><img src="~/Images/Basic_image/cart-yellow.png" /></a></td>
    @*<td><a href="#"><img src="~/Images/Basic_image/trash-black.png" id="delete" /></a></td>*@
    @*<td><a href="#"><img src="~/Images/Basic_image/cart-yellow.png" /></a></td>*@
    
</tr>
    }
}
<script>
    function updatewhishlist(id,val) {
        $.ajax({
            url: 'UpdateWishList',
            data: { id: id, value: val },
            success: function () {
                location.reload();
            }
        });
    }
</script>