@model Orbio.Web.UI.Areas.Admin.Models.Component.ProductComponentModel
@{
    ViewBag.Title = "AddOrEditProductComponent";
}

<div class="container">
    @using (Html.BeginForm("AddOrUpdateProductComponent", "Component", FormMethod.Post, new { }))
    {
        @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
        <div class="main_edit_order">
            @if (Model.Id == 0)
            {
                <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">ADD A NEW PRODUCT COMPONENT</a> <a href="@Url.Action("ProductComponent", "Component")" class="back_to_checkout" style="color: #0082c7;">(back to product component list) </a></span>
                <span class="back_to_order" style="padding-top:0px">
                    <input type="submit" value="Save" class="add_cat_button">
                    <a href="@Url.Action("ProductComponent", "Component")"> <input type="button" value="Cancel" class="delete_cat_button"></a>
                </span>
            }
            else
            {
                <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">EDIT PRODUCT COMPONENT</a> <a href="@Url.Action("ProductComponent", "Component")" class="back_to_checkout" style="color: #0082c7;">(back to product component list) </a></span>
                <span class="back_to_order" style="padding-top:0px">
                    <input type="submit" value="Save" class="add_cat_button">
                    <a href="@Url.Action("DeleteProductComponent", "Component", new { Id = Model.Id })"> <input type="button" value="Delete" class="delete_cat_button"></a>
                </span>
            }
        </div>

        <div class="new_product_attribute_div">
            <div class="form-group">
                <label>Name : </label>
                @Html.TextBoxFor(m => m.Name, new { @class = "add_product_attr_name", required="required" })
            </div>
            <div class="form-group">
                <label> Is Active: </label>
                @Html.CheckBoxFor(m => m.IsActive, new { @class = "Component_check" })
            </div>
        </div>
    }
</div>