@model Orbio.Web.UI.Areas.Admin.Models.Component.PriceComponentModel

@{
    ViewBag.Title = "AddOrEditPriceComponent";
}

<section class="wp-request price-component-add">
    <div class="container">
        <div class="catalog-bulk col-md-12" style="padding-left:0px;">
            <div class="pull-left">
                <label class="price-add-icon"></label>
                @if (Model.Id == 0)
                {
                    <h1>ADD A NEW PRICE COMPONENT<a href="@Url.Action("PriceComponent","Component")">(back to price component list)</a></h1>
                }
                else
                {
                    <h1>EDIT PRICE COMPONENT<a href="@Url.Action("PriceComponent", "Component")">(back to price component list)</a></h1>
                }
            </div>
        </div>
    </div>
    @using (Html.BeginForm("AddOrUpdatePriceComponent", "Component", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
        <div class="container">
            <div class="col-md-12">
                <div class="pull-right">
                    @if (Model.Id == 0)
                    {
                        <div class="options">
                            <input type="submit" value="Save and Continue edit" class=" Sbut savbut  ssbut1">
                        </div>
                    }
                    else
                    {
                        <div class="options">
                            <input type="submit" value="Save" class=" Sbut   ssbut1">
                            <a href="@Url.Action("DeletePriceComponent", "Component", new {Id = Model.Id })"><input type="button" value="Delete" class=" Sbut   ssbut1" /></a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 colmd12">

                <div class="col-md-9 tabcustomer ">
                    <div class="tab-content ">
                        <div role="tabpanel" class="tab-pane in active" id="standard">
                            <div class="col-md-12 product-specification">
                                <div class="col-md-12">
                                    <div class="col-md-3"><label> Name:</label></div>
                                    <div class="col-md-4">@Html.TextBoxFor(m => m.Name, new { @class = "produtxt" })</div>
                                </div>
                                <div class="col-md-12">
                                    <div class="col-md-3"><label> Is Active:</label></div>
                                    <div class="col-md-4">@Html.CheckBoxFor(m => m.IsActive)</div>
                                </div>
                                @*<div class="col-md-12">
                                        <div class="col-md-3"><label> Created Date:</label></div>
                                        <div class="col-md-4"><input type="type" id="datetimepicker"></div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-3"><label> Modified Date:</label></div>
                                        <div class="col-md-4"><input type="type" id="datetimepicker1"></div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

