@model Orbio.Web.UI.Areas.Admin.Models.Orders.OrderModel
<script src="~/Areas/Admin/Scripts/jquery.js"></script>
@{
    var count = 1;
    }
<div class="col-md-9 main_order_table">
    <table class="item_admin_order">
        <thead>
        <td>Item Description</td>
        <td>Quantity</td>
        <td>Item Price</td>
        <td>Discounted Rate</td>
        <td>Total</td>
        @if (Model.OrderStatus != "Complete" || Model.PaymentStatus!="Paid" || Model.ShippingStatus!="Delivered")
        {
        <td>Action</td>
        }
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
            {
                <script type="text/javascript">
                    $(document).ready(function () {
                        toggleOrderItemEdit@(item.Id)(false);
                    });
                </script>

                <script type="text/javascript">
    function toggleOrderItemEdit@(item.Id)(editMode) {
        if (editMode) {
            $('#pvQuantity@(item.Id)').removeAttr("disabled");

            $('#btnDeleteOrderItem@(item.Id)').hide();
            $('#btnEditOrderItem@(item.Id)').hide();
            $('#btnSaveOrderItem@(item.Id)').show();
            $('#btnCancelOrderItem@(item.Id)').show();
        }
        else {
            $('#pvQuantity@(item.Id)').attr("disabled", "disabled");
            $('#btnDeleteOrderItem@(item.Id)').show();
            $('#btnEditOrderItem@(item.Id)').show();
            $('#btnSaveOrderItem@(item.Id)').hide();
            $('#btnCancelOrderItem@(item.Id)').hide();
        }
    }
                </script>
    
                if (count == 1)
                {
                    using (Html.BeginForm("EditOrderItem", "Order", new { id = this.Model.Id }, FormMethod.Post, new { Id = "formEditOrderItem" + item.Id }))
            {
                   @:<tr class="first_row">
                   @:<td class="varient_align">
                   @:<img src="@item.ImageUrl" alt="ring" width="58" height="53">
                    <label style="vertical-align: top;">
                        <label class="diamond">@item.ProductName </label><br />
                        <label class="varient">@(new HtmlString(item.AttributeInfo))</label><br/>
                        @if (item.IsGift)
                        {
                        <img src="~/Areas/Admin/images/gift.png" alt="ring" style="border:none;">
                        @*<input type="checkbox" name="giftcheck@(item.Id)" id="giftcheck@(item.Id)" checked="@item.IsGift" value="@item.IsGift" style="display:none;" />*@
                        }
                    </label>
                   @:</td>
                   @:<td class="quantity" style="padding-top: 22px;"><input name="pvQuantity@(item.Id)" type="number" value="@item.Quantity" id="pvQuantity@(item.Id)" class="adminInput" style="width: 40px;height: 23px;padding: 0 4px;border-radius: 2px;border: 1px solid #ccc;" /></td>
                   @:<td class="number" style="padding-top: 22px;">@item.UnitPriceExclTaxValue.ToString("#,##0.00")</td><td class="number" style="padding-top: 22px;">@item.DiscountExclTaxValue.ToString("#,##0.00")</td>
                   @: <td class="number" style="padding-top: 22px;">@item.SubTotalExclTaxValue.ToString("#,##0.00")</td>
                   if (Model.OrderStatus != "Complete" || Model.PaymentStatus!="Paid" || Model.ShippingStatus!="Delivered")
                   {
                   @: <td class="action_ring">
                   @:<input type="submit" name="btnSaveOrderItem@(item.Id)" value="" id="btnSaveOrderItem@(item.Id)" class="edit_save" style="display:none;" @*onclick=" return confirm('Are You Sure'); "*@ />
                   @:<input type="submit" name="btnCancelOrderItem@(item.Id)" value="" onclick="toggleOrderItemEdit@(item.Id)    (false);return false; " id="btnCancelOrderItem@(item.Id)" class="edit_cancel" style="display:none;" />
                   @: <input type="submit" name="btnEditOrderItem@(item.Id)" value="" onclick="toggleOrderItemEdit@(item.Id)(true);return false; " id="btnEditOrderItem@(item.Id)" class="edit_ring" style="float: left;"/>
                                             @*using (Html.BeginForm("DeleteOrderItem", "Order", new { id = this.Model.Id }, FormMethod.Post, new { Id = "formDeleteOrderItem" + item.Id }))
                    {*@
                    <a href="@Url.Action("DeleteOrderItem", "Order", new { id = this.Model.Id,itemId=item.Id })">
                    <input type="button" name="btnDeleteOrderItem@(item.Id)" value="" id="btnDeleteOrderItem@(item.Id)" class="delete_ring" onclick=" return confirm('Are you sure you want to delete'); " /></a>
                                                  //}
                                                 
@:</td>
                }
                   @:</tr>
            }
                   count++;
               }
              else
                  {
                using (Html.BeginForm("EditOrderItem", "Order", new { id = this.Model.Id}, FormMethod.Post, new { Id = "formEditOrderItem" + item.Id }))
                 {
                    @:<tr class="second_row">
                    <td class="varient_align">
                    <img src="@item.ImageUrl" alt="ring" width="58" height="53">
                    <label style="vertical-align: top;"><label class="diamond">@item.ProductName </label><br/>
                     <label class="varient">@(new HtmlString(item.AttributeInfo))</label>
                        @if (item.IsGift)
                        {
                            <img src="~/Areas/Admin/images/gift.png" alt="ring" style="border:none;">
                        }</label>
                    </td>
            <td class="quantity" style="padding-top: 22px;"><input name="pvQuantity@(item.Id)" type="number" value="@item.Quantity" id="pvQuantity@(item.Id)" class="adminInput" style="width: 40px;height: 23px;padding: 0 4px;border-radius: 2px;border: 1px solid #ccc;" /></td><td class="number" style="padding-top: 22px;">@item.UnitPriceExclTaxValue.ToString("#,##0.00")</td><td class="number" style="padding-top: 22px;">@item.DiscountExclTaxValue.ToString("#,##0.00")</td><td class="number" style="padding-top: 22px;">@item.SubTotalExclTaxValue.ToString("#,##0.00")</td>
                   if (Model.OrderStatus != "Complete" || Model.PaymentStatus!="Paid" || Model.ShippingStatus!="Delivered")
                   {
                    @:<td class="action_ring">
                    @:<input type="submit" name="btnSaveOrderItem@(item.Id)" value="" id="btnSaveOrderItem@(item.Id)" class="edit_save" style="display:none;" @*onclick=" return confirm('Are You Sure'); "*@ />
                    @:<input type="submit" name="btnCancelOrderItem@(item.Id)" value="" onclick="toggleOrderItemEdit@(item.Id)    (false);return false; " id="btnCancelOrderItem@(item.Id)" class="edit_cancel" style="display:none;" />
                    @: <input type="submit" name="btnEditOrderItem@(item.Id)" value="" onclick="toggleOrderItemEdit@(item.Id)(true);return false; " id="btnEditOrderItem@(item.Id)" class="edit_ring" style="float: left;" />
                       
                       @*using (Html.BeginForm("DeleteOrderItem", "Order", new { id = this.Model.Id }, FormMethod.Post, new { Id = "formDeleteOrderItem" + item.Id }))
                        {
                            @: <input type="submit" name="btnDeleteOrderItem@(item.Id)" value="" id="btnDeleteOrderItem@(item.Id)" class="delete_ring" onclick=" return confirm('Are you sure you want to delete'); " />
                        }*@
                    <a href="@Url.Action("DeleteOrderItem", "Order", new { id = this.Model.Id,itemId=item.Id })">
                        <input type="button" name="btnDeleteOrderItem@(item.Id)" value="" id="btnDeleteOrderItem@(item.Id)" class="delete_ring" onclick=" return confirm('Are you sure you want to delete'); " />
                    </a>
                    @:</td>
                    }
                    @:</tr>
                }
                      count = 1;
                  }
            }     
    

        </tbody>
    </table>
</div>
