@model Orbio.Web.UI.Areas.Admin.Models.Orders.OrderModel

<div aria-labelledby="home-tab" id="address" class="tab-pane fade " role="tabpanel" style="opacity:1">
    <table style="width:100%">
        <tr>
            <td style="width:50%">
                <div class="billing_address_main">
                    <h3>Billing Address</h3>
                    <div class="left_address_form">
                        <table>
                            <tr><td>Full Name </td><td>:  @Model.BillingAddress.FirstName</td></tr>
                            <tr><td>Phone </td><td>: @Model.BillingAddress.PhoneNumber</td></tr>
                            <tr><td>Address </td><td>: @Model.BillingAddress.Address1</td></tr>
                            <tr><td>City </td><td>: @Model.BillingAddress.City</td></tr>
                            <tr><td>State/province </td><td>: @Model.BillingAddress.States</td></tr>
                            <tr><td>Zip/Postal code</td><td>: @Model.BillingAddress.ZipPostalCode</td></tr>
                            <tr><td>Contry</td><td>: @Model.BillingAddress.Country</td></tr>
                            <tr><td></td><td>
                                             <a style="cursor:pointer" target="_blank" class="add_product_submit" href="@Url.Action("AddressEdit", new { addressId = Model.BillingAddress.BillingAddress_Id, orderId =Model.Id })">Edit</a>
                                </td></tr>
                        </table>
                    </div>
                </div>
            </td>
            <td style="width:50%">
                <div class="billing_address_main">
                    <div class="left_address_form">

                        <h3>Shipping Address</h3>
                        <table>
                            <tr><td>Full Name </td><td>:  @Model.ShippingAddress.FirstName</td></tr>
                            <tr><td>Phone </td><td>: @Model.ShippingAddress.PhoneNumber</td></tr>
                            <tr><td>Address </td><td>: @Model.ShippingAddress.Address1</td></tr>
                            <tr><td>City </td><td>: @Model.ShippingAddress.City</td></tr>
                            <tr><td>State/province </td><td>: @Model.ShippingAddress.States</td></tr>
                            <tr><td>Zip/Postal code</td><td>: @Model.ShippingAddress.ZipPostalCode</td></tr>
                            <tr><td>Contry</td><td>: @Model.ShippingAddress.Country</td></tr>
                            <tr><td></td><td>
                                             <a style="cursor:pointer" target="_blank" class="add_product_submit" href="@Url.Action("AddressEdit", new { addressId = Model.BillingAddress.BillingAddress_Id, orderId =Model.Id })">Edit</a>
                                </td></tr>
                        </table>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>


@*<div role="tabpanel" class="tab-pane " id="billingInfo">
    <div class="col-md-3">Billing Address:</div>
    <div class="col-md-9">
        <div class="pull-left">
            <div class="col-md-7 billingInfo">
                <div class="col-md-4">Full name:</div>
                <div class="col-md-8">@Model.BillingAddress.FirstName</div>
                <div class="col-md-4">Phone:</div>
                <div class="col-md-8">@Model.BillingAddress.PhoneNumber</div>
                <div class="col-md-4">Address:</div>
                <div class="col-md-8">@Model.BillingAddress.Address1</div>
                <div class="col-md-4">City:</div>
                <div class="col-md-8">@Model.BillingAddress.City</div>
                <div class="col-md-4">State/province:</div>
                <div class="col-md-8">@Model.BillingAddress.States</div>
                <div class="col-md-4">Zip/postal code:</div>
                <div class="col-md-8">@Model.BillingAddress.ZipPostalCode</div>
                <div class="col-md-4">Country:</div>
                <div class="col-md-8">@Model.BillingAddress.Country</div>
                <div class="col-md-12"><div class="pull-left"><a style="cursor:pointer"  class="editbut" href="@Url.Action("AddressEdit", new { addressId = Model.BillingAddress.BillingAddress_Id, orderId =Model.Id })">edit</a></div></div>
            </div>
        </div>
    </div>

</div>
<div role="tabpanel" class="tab-pane " id="shippingInfo">
    <div class="col-md-3">Shipping Address:</div>
    <div class="col-md-9">
        <div class="pull-left">
            <div class="col-md-7 billingInfo">
                <div class="col-md-4">Full name:</div>
                <div class="col-md-8">@Model.ShippingAddress.FirstName</div>
                <div class="col-md-4">Phone:</div>
                <div class="col-md-8">@Model.ShippingAddress.PhoneNumber</div>
                <div class="col-md-4">Address:</div>
                <div class="col-md-8">@Model.ShippingAddress.Address1</div>
                <div class="col-md-4">City:</div>
                <div class="col-md-8">@Model.ShippingAddress.City</div>
                <div class="col-md-4">State/province:</div>
                <div class="col-md-8">@Model.ShippingAddress.States</div>
                <div class="col-md-4">Zip/postal code:</div>
                <div class="col-md-8">@Model.ShippingAddress.ZipPostalCode</div>
                <div class="col-md-4">Country:</div>
                <div class="col-md-8">@Model.ShippingAddress.Country</div>
                <div class="col-md-12"><div class="pull-left"><a style="cursor:pointer" class="editbut" href="@Url.Action("AddressEdit", new { addressId = Model.ShippingAddress.ShippingAddress_Id, orderId = Model.Id })">edit</a></div></div>
            </div>
        </div>
    </div>
</div>*@
