@model Orbio.Web.UI.Areas.Admin.Models.Orders.OrderListModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}
@using (Html.BeginForm())
{
    <div class="container">
        <div class="main_edit_order">
            <span class="edit_order_details"><span class="edit_order_icon"></span><a href="">order summary</a></span>
            <!-- <span class="back_to_order"><input type="button" value="Save" class="add_cat_button"></span> -->
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 order_list">
            <div class="sart_date">
                @Html.TextBoxFor(model => model.StartDate, new { @class = "start_order_date", placeholder = "From", style = "border-radius:0px:box-shadow:0px" })
            </div>
            <div class=" sart_date">
                @Html.TextBoxFor(model => model.EndDate, new { @class = "start_order_date", placeholder = "To" })
            </div>
            <div class="billing_address_text">
                @Html.TextBoxFor(model => model.CustomerEmail, new { @class = "start_order_date", placeholder = "Email" })
            </div>
            <div class="order_status">
                @Html.DropDownList("OrderStatusId", Model.AvailableOrderStatuses, new { @class = "order_stat_select" })
            </div>
            <div class="order_status">
                @Html.DropDownList("PaymentStatusId", Model.AvailablePaymentStatuses, new { @class = "order_stat_select" })
            </div>
            <div class="order_status">
                @Html.DropDownList("ShippingStatusId", Model.AvailableShippingStatuses, new { @class = "order_stat_select" })
            </div>
            <div class="billing_address_text">
                @Html.TextBoxFor(model => model.GoDirectlyToNumber, new {@class="start_order_date", placeholder = "Order No" })
            </div>
            <div class="col-md-2" align="center">
                <input type="submit" class="search_order_list" value="SEARCH">
            </div>
        </div>
        <div class="refresh_xl" style="padding-right:15px;">
            <span class="refresh_button"><a style="cursor:pointer" href="@Url.Action("List","Order")"><label></label></a></span>

            <span class="report_xls">Export to excel <label></label></span>
        </div>
        <div class="">

            @*<span class="report_xls">Export to excel <label></label></span>*@
        </div>
        <div class="col-md-12" style=" margin-bottom: 34px;">

            <table class="order_total_main_table" id="tableData">
                <thead>
                <td>order id</td>
                <td>order status</td>
                <td>payment status</td>
                <td>shipping status</td>
                <td>email</td>
                <td>created on</td>
                <td>order total</td>
                @*<td>view</td>*@</thead>


                <tbody>
                    @Html.Action("OrderList", "Order")
                </tbody>
            </table>
        </div>

    </div>
}
@section scripts {
<script>
            $(document).ready(function () {
                // create DateTimePicker from input HTML element
                 $("#StartDate").kendoDatePicker();
                 $("#EndDate").kendoDatePicker();
                    });   </script>

    }