@model List<Orbio.Web.UI.Areas.Admin.Models.Orders.OrderModel>

                @foreach (var items in this.Model)
                {
                    <tr>
                        @*<td><input type="checkbox"></td>*@
                        <td>@items.Id</td>
                        <td>@items.OrderStatus</td>
                        <td>@items.PaymentStatus</td>
                        <td>@items.ShippingStatus</td>
                        <td>@items.CustomerEmail</td>
                        <!--  <td>Your Store Name</td> -->
                        <td>@items.CreatedOn</td>
                        <td>@items.OrderTotal</td>
                        <td><a style="cursor:pointer" href="@Url.Action("Edit", "Order", new { id = items.Id })"><img src="~/Areas/Admin/images/edit.png" /></a></td>
                    </tr>
                }
