@model List<Orbio.Web.UI.Areas.Admin.Models.Orders.OrderModel>

                @foreach (var items in this.Model)
                {
                    <tr>
                        @*<td><input type="checkbox"></td>*@

                        <td class="align_center"><a style="cursor:pointer" href="@Url.Action("Edit", "Order", new { id = items.Id })">@items.Id</a></td>

                        <td class="align_center">@items.OrderStatus</td>
                        <td class="align_center">@items.PaymentStatus</td>
                        <td class="align_center">@items.ShippingStatus</td>
                        <td class="align_center">@items.CustomerEmail</td>
                        <!--  <td>Your Store Name</td> -->
                        <td class="align_center">@items.CreatedOn</td>
                        <td class="align_center" style="text-align:right;padding-right:5px;">@items.OrderTotal</td>                    

                    </tr>
                }
