@model Orbio.Web.UI.Models.Orders.CartModel
<section class="main_shop_cart">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li class="active">Shopping cart</li>
        </ol>


        <div class="shopping_cart">
            <h1>MY SHOPPING CART</h1>
            @using (Html.BeginForm("Cart", "ShoppingCart", FormMethod.Post, new { Id = "formCartProduct" }))
            {
                <div class="table-responsive">
                    <table cellpadding="0" cellspacing="0" width="100%" class="shopping_table">
                        <tr>
                            <th width="150" class="item_table">Item</th>
                            <th width="30%"></th>
                            <th>Remove</th>
                            <th>Quantity</th>
                            <th>Item Price</th>
                            <th>Total Price</th>
                        </tr>
                        @{
                Html.RenderPartial("OrderSummary", this.Model.ShoppingCartItems);
                        }
                    </table>
                </div>

                <div class="shop_promation">
                    <ul>
                        @if (this.Model.AppliedCoupon != null && this.Model.AppliedCoupon.IsValid)
                        {
                                <li>@this.Model.AppliedCoupon.Name</li>
                                <li><input type="submit" class="coupon_button" value="REMOVE CODE" name="removeCoupon" /></li>
                            }
                            else
                            {
                        <li class="promat">ENTER A PROMOTIONAL CODE</li>
                        <li>
                                 @Html.TextBoxFor(db=>db.AppliedCouponCode)
                                @if (this.Model.AppliedCoupon != null && !this.Model.AppliedCoupon.IsValid)
                                {
                                    <span style="color:red">Invalid coupon @this.Model.AppliedCoupon.CouponCode</span>
                                }
                             @*<input id="Discounts[0].CouponCode" type="text" class="">*@</li>
                            }
                        <li><input type="submit" class="green_butt" value="update cart"></li>
                    </ul>
                </div>
            }
            <div class="shop_status">
                <div class="row">
                    <div class="col-sm-8">
                        <form method="get" action="" onsubmit="return false">
                            <div class="check_deliver" id="checkPin">
                                <ul>
                                    <li class="checkdel">
                                        <img src="~/Images/checkavail.png" class="locationimg" />
                                    Check Availability at</li>
                                    <li>
                                        <input type="text" autocomplete="off" minlength="6" maxlength="6" placeholder="Enter your pincode" class="pincode" id="pincode" required="required">
                                        <input type="submit" value="Check" class="blue_butt" onclick="btnSubmit_Click()">
                                    </li>
                                </ul>
                            </div>
                            <div class="check_deliver" style="display:none" id="displayResult">
                                <ul>
                                    <li class="delresult">
                                        <img src="" id="imgavailability" class="locationimg" />
                                        <span id="lbldisplayresult" class="spanavail"> Available at </span><span style="cursor:pointer"><a onclick="Change()" style="text-decoration:underline;">change</a></span>
                                    </li>
                                    </ul>
                            </div>
                        </form>
                        <div class="shop_payment">
                            <p>Payment Methods</p>
                            <ul class="foot_menu clearfix">
                                <li><a href="" class="visa_met" style="cursor:default"></a></li>
                                <li><a href="" class="discover_met" style="cursor:default"></a></li>
                                <li><a href="" class="american_met" style="cursor:default"></a></li>
                                <li><a href="" class="master_met" style="cursor:default"></a></li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        @{
                            Html.RenderPartial("_orderTotalSummary", Model, new ViewDataDictionary() { { "Type", "Cart" },{"Currencycode", ViewBag.Currencycode } });
                        }
                       @* <div class="cart_total">
                            <dl class="dl-horizontal">
                                <dt>Cart Sub Total</dt>
                                <dd>@ViewBag.Currencycode.@Model.SubTotal</dd>
                                <dt>Shipping Charges</dt>
                                <dd>0</dd>
                                <dt>Promotional Discounts</dt>
                                <dd>@ViewBag.Currencycode.@Model.DiscountAmount</dd>
                                <dt>Estimated Tax</dt>
                                <dd>@ViewBag.Currencycode.@Model.TaxAmount</dd>
                                <dt class="cart_total">Total</dt>
                                <dd class="cart_total">@ViewBag.Currencycode.@Model.Total</dd>
                            </dl>
                        </div>*@

                    </div>

                </div>

            </div>


        </div>

        <div class="shop_stat_butt">
            <div class="row">
                <div class="col-sm-8">
                    <a href="@Url.Action("ContinueShopping", "ShoppingCart")"><input type="submit" class="continue_shop" value="CONTINUE SHOPPING"></a>
                </div>
                @if (Model.ShoppingCartItems.Count > 0)
                {
                    <div class="col-sm-4">
                        <a href="@Url.Action("Index","CheckOut")"><input type="submit" class="continue_check" value="PROCEED TO CHECKOUT"></a>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<script language="javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script>
    $(document).ready(function () {
        var pincode = "";
        $.ajax({
            url: '@Url.Action("GetPincodeFromCookie", "ShoppingCart")',
            type: "POST",
            success: function (data) {
                if (data != "") {
                    pincode = data;
                    getAddressInfoByZip(pincode);
                }
            }
        });
    });
    function btnSubmit_Click(e) {
        var pincode = $('#pincode').val();
        getAddressInfoByZip(pincode);
    }

    function getAddressInfoByZip(zip) {
        if (zip.length >= 5 && typeof google != 'undefined') {
            var state = "";
            var addr = {};
            var geocoder = new google.maps.Geocoder();
            geocoder.geocode({ 'address': zip }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results.length >= 1) {
                        for (var j = 0; j < results.length; j++) {
                            for (var i = 0; i < results[j].address_components.length; i++) {
                                var base = results[j].address_components[i].types[0];
                                if (base == "administrative_area_level_1") {
                                    state = results[j].address_components[i].long_name;
                                }
                            }
                        }
                    }
                }
                CheckPincodeAvailability(state, zip);
            })
        }
        else
        {
            $("#pincode").prop("required", true);
        }
    }

    function CheckPincodeAvailability(state, pincode) {
        if (state != null) {
            $.ajax({
                data: { state: state,pincode : pincode },
                url: '@Url.Action("CheckPincodeAvailability","ShoppingCart")',
                type: "POST",
                success: function (data) {
                    if (data == "Available") {
                        $('#lbldisplayresult').text("Available at pincode : " + pincode);
                        $('#displayResult').css("display", "block");
                        $('#checkPin').css("display", "none");
                        $('#imgavailability').attr("src","../images/available.png");
                    }
                    else {
                        $('#lbldisplayresult').text("Not available at pincode : " + pincode);
                        $('#displayResult').css("display", "block");
                        $('#checkPin').css("display", "none");
                        $('#imgavailability').attr("src", "../images/unavail.png");
                    }
                }
            });
        }
        else {
            $('#lbldisplayresult').text("Not available at " + pincode);
            $('#displayResult').css("display", "block");
            $('#checkPin').css("display", "none");
        }
    }

    function Change()
    {
        $('#displayResult').css("display", "none");
        $('#checkPin').css("display", "block");

    }
    function GiftChargeCalculation(e)
    {
        var giftCharge = $('#giftCharge' + e.id).val();
        var shipping = $('#shippingCharges').text();
        if(e.checked)
        {
            $('#shippingCharges').text((parseFloat(shipping) + parseFloat(giftCharge)).toFixed(2));
        }
        else {
            $('#shippingCharges').text((parseFloat(shipping) - parseFloat(giftCharge)).toFixed(2));
        }
    }

</script>
