@model Orbio.Web.UI.Models.Orders.CartHeaderModel
@{
       var workContext = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Orbio.Core.IWorkContext>();
}        
@if (workContext.CurrentCustomer.IsRegistered)
{
    if (workContext.CurrentCustomer.Gender == "M")
    {
        <li class="icon-cart"><a href="@Url.Action("MyAccount", "Customer")"><span class="icon-span">My account</span><i class="men_icon"></i></a></li>
    }
    else
    {
        <li class="icon-cart"><a href="@Url.Action("MyAccount", "Customer")"><span class="icon-span">My account</span><i class="women_icon"></i></a></li>
    }
    <li class="icon-cart"><a href="@Url.RouteUrl("ShoppingCart")"><span class="icon-span">My Cart</span><i class="cart-icon"></i><span>@(Model.ItemCount)</span></a></li>
    <li class="icon-cart"><a href="~/Customer/MyAccount#mywishlist" class="mywish"><span class="icon-span">My Wishlist</span><i class="cart-wish"></i></a></li>
}
else
{
    <li class="icon-cart before-login"><a href="@Url.RouteUrl("ShoppingCart")"><span class="icon-span">Cart</span><i class="cart-icon"></i><span>@(Model.ItemCount)</span></a></li>
}
