@model List<Orbio.Web.UI.Models.Orders.ShoppingCartItemModel>

@{
    var count = 0;
    
    if(this.Model.Count > 0)
    {
    foreach (var scpd in this.Model)
    {
        var scpdr = string.Format("ShoppingCartItems[{0}].IsRemove", count);
        var scpdqu = string.Format("ShoppingCartItems[{0}].SelectedQuantity", count);
        var scpdId = string.Format("ShoppingCartItems[{0}].Id", count);
        var scpdTotalprice = string.Format("ShoppingCartItems[{0}].Totalprice", count);
        var scpdRemove = string.Format("ShoppingCartItems[{0}].IsRemove", count);
        var scpdQuantity = string.Format("ShoppingCartItems[{0}].SelectedQuantity", count);
        var scpdcartid = string.Format("ShoppingCartItems[{0}].CartId", count);
        <tr>
            <td data-title="Item"><a href="@Url.RouteUrl("Category", new { SeName = scpd.SeName })?p=pt"><img src="@scpd.DefaultPicture.ImageUrl"></a></td>
            <td data-title="Title">
                <a class="cartitem" href="@Url.RouteUrl("Category", new { SeName = scpd.SeName })?p=pt">
                    @scpd.Name
                </a><br />
                @foreach (var attribute in scpd.ProductVariantAttributes)
                {
                    @attribute.TextPrompt<span>:</span>
                    @attribute.Values[0].Name<span>,</span>
                }
            </td>
            <td data-title="Remove" class="remove-table">@Html.CheckBox(scpdr, scpd.IsRemove)@*<input type="checkbox" name="Remove" value="@scpd.CartId" />*@</td>
            <td data-title="Quantity" class="quantity-table">
                @*@{
                    var qtyList = new List<object>();
                    if (scpd.AllowedQuantities.Count > 0)
                    {
                        foreach (var qty in scpd.AllowedQuantities)
                        {
                            qtyList.Add(new { Text = qty.ToString(), Value = qty.ToString() });
                        }
                    }
                    else
                    {
                        for (var i = scpd.OrderMinimumQuantity; i <= scpd.OrderMaximumQuantity; i++)
                        {
                            qtyList.Add(new { Text = i.ToString(), Value = i.ToString() });
                        }
                    }
                    //var selectedValue = qtyList.Where(qty => qty == scpd.SelectedQuantity).FirstOrDefault();
                    //if (selectedValue == null)
                    //{
                    //    selectedValue = qtyList.FirstOrDefault();
                    //}
                    var qtySelectList = new SelectList(qtyList, "Value", "Text", scpd.SelectedQuantity);
                            }*@

                @*@Html.DropDownList(scpdqu, (IEnumerable<SelectListItem>)qtySelectList)*@
                
                @Html.TextBox(scpdqu, scpd.SelectedQuantity, new { type = "Number", @class = "form-control", min = "1", Style = "width:40px;height: 23px;padding: 0 4px;border-radius: 2px;" })
                @Html.Hidden(scpdRemove, scpd.IsRemove)  @Html.Hidden(scpdQuantity, scpd.SelectedQuantity) @Html.Hidden(scpdcartid, scpd.CartId)
            <td data-title="Item Price">@scpd.CurrencyCode.@scpd.UnitPrice @Html.Hidden(scpdId, scpd.Id)  @*@Html.Hidden(scpdTotalprice, scpd.TotalPrice)*@</td>
            <td data-title="Total Price">@scpd.CurrencyCode.@scpd.TotalPrice </td>
        </tr>
                count++;
                }
                
          }
    else
    {
        <tr>
            <td colspan="6" class="cart_empty_msg">Your shopping cart is empty!</td>
        </tr> 
    }
}