@model List<Orbio.Web.UI.Models.Orders.ShoppingCartItemModel>

@{
    var count = 0;

    foreach (var scpd in this.Model)
    {
        var scpdr = string.Format("items[{0}].IsRemove", count);
        var scpdqu = string.Format("items[{0}].SelectedQuantity", count);
        var scpdId = string.Format("items[{0}].Id", count);
        var scpdTotalprice = string.Format("items[{0}].Totalprice", count);
        var scpdRemove = string.Format("items[{0}].IsRemove", count);
        var scpdQuantity = string.Format("items[{0}].SelectedQuantity", count);
        var scpdcartid = string.Format("items[{0}].CartId", count);
        <tr>
            <td><a href="@Url.RouteUrl("Category", new { SeName = scpd.SeName })?p=pt"><img src="@scpd.DefaultPicture.ImageUrl" width="120px" height="65px"></a></td>
            <td>
                <a class="cartitem" href="@Url.RouteUrl("Category", new { SeName = scpd.SeName })?p=pt">
                    @scpd.Name
                </a><br />
                @foreach (var attribute in scpd.ProductVariantAttributes)
                {
                    @attribute.TextPrompt <span>:</span>@attribute.Values[0].Name
                }
            </td>
            <td>@Html.CheckBox(scpdr, scpd.IsRemove)@*<input type="checkbox" name="Remove" value="@scpd.CartId" />*@</td>
            <td>
                @*@{
                    var qtyList = new List<object>();
                    if (scpd.AllowedQuantities.Count > 0)
                    {
                        foreach (var qty in scpd.AllowedQuantities)
                        {
                            qtyList.Add(new { Text = qty.ToString(), Value = qty.ToString() });
                        }
                    }
                    else
                    {
                        for (var i = scpd.OrderMinimumQuantity; i <= scpd.OrderMaximumQuantity; i++)
                        {
                            qtyList.Add(new { Text = i.ToString(), Value = i.ToString() });
                        }
                    }
                    //var selectedValue = qtyList.Where(qty => qty == scpd.SelectedQuantity).FirstOrDefault();
                    //if (selectedValue == null)
                    //{
                    //    selectedValue = qtyList.FirstOrDefault();
                    //}
                    var qtySelectList = new SelectList(qtyList, "Value", "Text", scpd.SelectedQuantity);
                            }*@

                @*@Html.DropDownList(scpdqu, (IEnumerable<SelectListItem>)qtySelectList)*@
                @Html.TextBox(scpdqu, scpd.SelectedQuantity, new { type = "Number", @class = "form-control", min = "1", Style = "width:40px;height: 23px;padding: 0 4px;border-radius: 2px;" })
                @Html.Hidden(scpdRemove, scpd.IsRemove)  @Html.Hidden(scpdQuantity, scpd.SelectedQuantity) @Html.Hidden(scpdcartid, scpd.CartId)
            <td>@scpd.CurrencyCode.@scpd.ProductPrice.Price @Html.Hidden(scpdId, scpd.Id)  @Html.Hidden(scpdTotalprice, scpd.Totalprice)</td>
            <td>@scpd.CurrencyCode.@scpd.Totalprice @Html.Hidden(scpd.Totalprice)</td>
        </tr>
                count++;
    }
}