@model List<Orbio.Web.UI.Models.Orders.ShoppingCartItemModel>

<div class="well summary">
    <div class="cart_total">
        <h1 class="order_sum">CART SUMMARY</h1>

        <div class="table-responsive">
            <table cellspacing="0" cellpadding="0" class="bar_summary table">
                <tbody>
                    @foreach (var item in this.Model)
                    {
                        var totalPrice=(Convert.ToDecimal(item.TotalPrice)-(Convert.ToDecimal(item.DiscountAmount)*Convert.ToDecimal(item.SelectedQuantity))).ToString("#,##0.00");
                        <tr>
                            <td><img src="@item.DefaultPicture.ImageUrl"></td>
                            <td>@item.Name</td>
                            <td>@item.SelectedQuantity</td>
                            <td align="center">@item.CurrencyCode.@totalPrice</td>
                        </tr>
                    }

                    @*<tr>
                        <td colspan="3" align="right" style="font-weight:600">TOTAL</td>
                        <td align="center" style="font-weight:600">@ViewBag.Currencycode.@ViewBag.subtotal</td>
                    </tr>*@

                </tbody>
            </table>
        </div>

    </div>
</div>

