@model Orbio.Web.UI.Areas.Admin.Models.Discount.DiscountModel
<div aria-labelledby="home-tab" id="discountinfo" class="tab-pane fade in active  " role="tabpanel">
    <div class="admin_comment">
        <div class="row">
            <div class="col-md-3 prdct_name">Name :</div><div class="col-md-2">@Html.TextBoxFor(m => m.Name, new { @class = "prdct_name_txt", id = "discountName", required = "required" })</div>
        </div>
        <div class="row">
            <div class="col-md-3 prdct_name">Discount Type :</div><div class="col-md-2">
                @Html.DropDownListFor(model => model.DiscountTypeId, from Orbio.Core.Domain.Discounts.DiscountType discountType in Enum.GetValues(typeof(Orbio.Core.Domain.Discounts.DiscountType))
                                                                 select new SelectListItem() { Text = discountType.ToString(), Value = ((int)discountType).ToString() }, new { @class = "prdct_name_txt" })
            </div>
        </div>
        @if (Model != null)
        { 
            if (Model.Categories != null && Model.Categories.Count > 0)
            {
            <div class="row" id="disctypecategory" style="margin-bottom:10px">
                <div class="col-md-3 prdct_name">Categories :</div><div class="col-md-2" style="margin-top:10px;width: 64%">
                @foreach (var categories in Model.Categories)
                {
                    <a href="@Url.Action("EditCategory", "Catalog", new { id = categories.Id })">@categories.Name</a> <span>,</span>
                }
                </div>
            </div>
            }
        }
        @if (Model != null)
        {
            if (Model.Products != null && Model.Products.Count > 0)
            {
            <div class="row" id="disctypeproducts" style="margin-bottom:10px">
                <div class="col-md-3 prdct_name">Products :</div><div class="col-md-2" style="margin-top:10px;width: 64%">
                    @foreach (var products in Model.Products)
                    {
                        <a href="@Url.Action("Edit", "Product", new { id = products.Id })">@products.Name</a> <span>,</span>
                    }
                </div>
            </div>
            }
        }
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-md-3 prdct_name">Use Percentage :</div><div class="col-md-2">
                @Html.CheckBoxFor(model => model.UsePercentage, new { @class = "checkbox_shipp", id = "chkusepercentage" })
            </div>
        </div>
        <div class="row" id="discAmt">
            <div class="col-md-3 prdct_name">Discount Amount :</div><div class="col-md-2">
                @Html.TextBoxFor(m => m.DiscountAmount, new { @class = "prdct_name_txt", type = "number" })
            </div>
            <div class="col-md-2" style="padding-top:14px;padding-left:0px">
                [Rs]
            </div>
        </div>
        <div class="row" id="discPerc" style="display:none">
            <div class="col-md-3 prdct_name">Discount Percentage :</div><div class="col-md-2">
                @Html.TextBoxFor(m => m.DiscountPercentage, new { @class = "prdct_name_txt", type = "number" })
            </div>
            <div class="col-md-2" style="padding-top:14px;padding-left:0px">
                [%]
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 prdct_name">Start Date :</div><div class="col-md-2">
                @Html.TextBoxFor(m => m.StartDateUtc, new { @class = "prdct_name_txt" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 prdct_name">End Date :</div><div class="col-md-2">
                @Html.TextBoxFor(m => m.EndDateUtc, new { @class = "prdct_name_txt" })
            </div>
        </div>
        <div class="row" style="margin-bottom: 12px;">
            <div class="col-md-3 prdct_name">Requires Coupon Code :</div><div class="col-md-2">
                @Html.CheckBoxFor(model => model.RequiresCouponCode, new { @class = "checkbox_shipp", id = "chkreqcouponcode" })
            </div>
        </div>
        <div class="row" id="discCoupon" style="display:none">
            <div class="col-md-3 prdct_name">Coupon Code :</div><div class="col-md-2">
                @Html.TextBoxFor(m => m.CouponCode, new { @class = "prdct_name_txt" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 prdct_name">Discount Limitation :</div><div class="col-md-2">
                @Html.DropDownListFor(model => model.DiscountLimitationId, from Orbio.Core.Domain.Discounts.DiscountLimitationType discountLimitationType in Enum.GetValues(typeof(Orbio.Core.Domain.Discounts.DiscountLimitationType))
                                                                           select new SelectListItem() { Text = discountLimitationType.ToString(), Value = ((int)discountLimitationType).ToString() }, new { @class = "prdct_name_txt" })
            </div>
        </div>
    </div>
</div>
