@model List<Orbio.Web.UI.Areas.Admin.Models.Discount.DiscountModel>
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
    var count = 1;
}
<div class="container">
    <div class="main_edit_order">
        <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">Discounts</a></span><span class="refresh_button"><a style="cursor:pointer" href="@Url.Action("List","Discount")"><label></label></a></span>
        <div class="preview_main" style="float:none">
            <ul>
                <li style="border-bottom:1px solid #0082c7"><a href="@Url.Action("Create","Discount")">Add new</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-12" style=" margin-bottom: 34px;margin-top:10px">

        <table class="item_admin_order" id="tableData">
            <thead>
            <td>Name</td>
            <td>Discount</td>
            <td>Start Date</td>
            <td>End Date</td>
            </thead>
            <tbody> 
            @foreach (var discount in this.Model)
            {
                if (count == 1)
                {
                    @:<tr class="first_row">
                        count++;
                }
                else
                {
                    @:<tr class="second_row">
                        count = 1;
                }
                @:<td class="align_center" style="text-align:left"><a style="cursor:pointer" href="@Url.Action("Edit", "Discount", new { id = discount.Id })">@discount.Name</a></td>
                if (!discount.UsePercentage)
                {
                     @:<td class="align_center" style="text-align:right">Rs. @discount.DiscountAmount.ToString("#,##0.00")</td>
                }
                else
                {
                    @:<td class="align_center" style="text-align:right">@discount.DiscountPercentage.ToString("#,##0.00") %</td>
                }
                @:<td class="align_center">@discount.StartDateUtc</td>
                @:<td class="align_center">@discount.EndDateUtc</td>
            }
            </tbody>
        </table>
    </div>
</div>
