@using PagedList
@using PagedList.Mvc

@model IPagedList<Orbio.Core.Data.DiscountUsageHistory>
@{
    var count = 1;
}

            <div id="usagehstry">
                <table class="item_admin_order" id="tableData">
                    <thead>
                    <td>Order</td>
                    <td>Used</td>
                    <td>Delete</td>
                    </thead>
                    <tbody>
                        @foreach (var usageHistory in this.Model)
                        {
                            if (count == 1)
                            {
                                @:<tr class="first_row">
                        count++;
                            }
                            else
                            {
                                @:<tr class="second_row">
                        count = 1;
                            }
                            @:<td class="align_center"><a style="cursor:pointer" href="@Url.Action("Edit", "Order", new { id = usageHistory.OrderId })"># @usageHistory.OrderId - View</a></td>
                            @:<td class="align_center">@usageHistory.CreatedOnUtc</td>
                            @:<td class="align_center"><a style="cursor:pointer" href="@Url.Action("DeleteUsageHistory", "Discount", new { id = usageHistory.Id, discountId=usageHistory.DiscountId })">Delete</a></td>
                            @:</tr>
                    }
                    </tbody>
                </table>
                <div class="pagedList" id="contentPager" style="float:right">
                    @Html.PagedListPager(Model, page => Url.Action("UsageHistoryInfo", "Discount", new { page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
                </div>
            </div>
       
