@model List<Orbio.Web.UI.Models.Orders.ShoppingCartItemModel>

@{
    var tr_id = this.Model.Select(m => m.CartId).First().ToString();
}
<div class="accordian-body collapse" id="@tr_id">
    <table class="table-striped">
        <thead>
        <td>Item</td>
        <td>Description</td>
        <td>quantity</td>
        <td>Item Price</td>
        <td>Total Price</td>
        <td>Status</td>
        <td>Updated date</td></thead>
        <tbody>
            @{
                var count = 0;

                if (this.Model.Count > 0)
                {
                    foreach (var scpd in this.Model)
                    {
                        <tr>
                            <td class="ring"><img src="@scpd.DefaultPicture.ImageUrl"></td>
                            <td>
                                <a class="cartitem" href="#">
                                    @scpd.Name
                                </a><br />
                                @foreach (var attribute in scpd.ProductVariantAttributes)
                                {
                                    @attribute.TextPrompt<span>:</span>
                                    @attribute.Values[0].Name<span>
                                        @((attribute != scpd.ProductVariantAttributes.Last()) ? ", " : "")
                                    </span>
                                }
                            </td>
                            <td class="qty">
                                @scpd.SelectedQuantity
                            </td>
                            <td class="item_price">@scpd.CurrencyCode.@scpd.UnitPrice</td>
                            <td class="item_price">@scpd.CurrencyCode.@scpd.TotalPrice </td>
                            <td class="qty status_cart">@scpd.ShoppingCartStatus</td>
                            <td class="qty status_cart">@scpd.UpdatedOnUtc</td>
                        </tr>
                                count++;
                    }

                }
                else
                {
                    <tr>
                        <td colspan="6" class="cart_empty_msg">Your shopping cart is empty!</td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
