@model List<Orbio.Web.UI.Areas.Admin.Models.Customers.CustomerModel>

@if (Model.Count > 0)
{
    int rowCount = 1;
    foreach (var items in this.Model)
    {
        int count = 0;
        if (rowCount == 1)
        {
            <tr class="first_row">
                <td class="varient_align"><a style="cursor:pointer" href="@Url.Action("EditCustomer", "Customer", new { id = items.Id })">@items.Id</a></td>
                <td class="varient_align">
                    @(!string.IsNullOrEmpty(items.Email) ? items.Email : "Guest")
                </td>
                <td class="varient_align">
                    @(items.FirstName + " " + items.LastName)

                </td>
                <td class="varient_align">
                    @if (items.CustomerRoles != null)
                    {
                        foreach (var role in items.CustomerRoles)
                        {
                            count++;
                            @((count > 1) ? ", " : "")@role.Name;
                        }

                    }
                               
                            </td>

                            <td class="varient_align">
                                <label class="@(items.Active ? "img_sprite1" : "img_sprite")"></label>
                            </td>
                            <!--  <td>Your Store Name</td> -->
                            <td class="varient_align">@items.CreatedOn</td>
                            <td class="varient_align" style="text-align:right;padding-right:5px;">@items.LastActivity</td>
                        </tr>
    
                    rowCount++;
        }
        else
        {
            <tr class="second_row">
                <td class="varient_align"><a style="cursor:pointer" href="@Url.Action(" editcustomer", "Customer" , new { id=items.Id })">@items.Id</a></td>
                <td class="varient_align">
                    @(!string.IsNullOrEmpty(items.Email) ? items.Email : "Guest")
                </td>
                <td class="varient_align">
                    @(items.FirstName + " " + items.LastName)

                </td>
                <td class="varient_align">
                    @if (items.CustomerRoles != null)
                    {
                        foreach (var role in items.CustomerRoles)
                        {
                            count++;
                            @((count > 1) ? ", " : "")@role.Name;
                        }
                    }
                </td>

                <td class="varient_align">
                    <label class="@(items.Active ? "img_sprite1" : "img_sprite")"></label>
                </td>
                <!--  <td>Your Store Name</td> -->
                <td class="varient_align">@items.CreatedOn</td>
                <td class="varient_align" style="text-align:right;padding-right:5px;">@items.LastActivity</td>
            </tr>
                    rowCount = 1;
        }
    }
}
else
{
    <tr>
        <td class="align_center" colspan="8">No records to display</td>
    </tr>
}


   
