@model Orbio.Web.UI.Areas.Admin.Models.Customers.CustomerModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}

@using (Html.BeginForm())
{
    <div class="container">
        <div class="main_edit_order">
            <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">Customers</a></span><span class="refresh_button">
            <a style="cursor:pointer" href="@Url.Action("ListCustomer", "Customer")"><label></label></a></span>
             <span class="back_to_order"><a href="@Url.Action("AddCustomer", "Customer")"><input type="button" value="Add New" class="add_cat_button"></a></span> 
        </div>
    </div>
    <div class="container">
        <div class="col-md-12 cust_role">
            <fieldset id="infoForm">
            <div class="order_status">
                @Html.ListBoxFor(m => m.Roles, new MultiSelectList(Model.CustomerRoles, "Id", "Name"), new { Multiple = "multiple", id = "role", @class = "search_customer", placeholder = "Role" })
            </div>
            <div class="billing_address_text">
                @Html.TextBoxFor(model => model.FirstName, new { @class = "search_customer", placeholder = "First Name" })
            </div>
            <div class="billing_address_text">
                @Html.TextBoxFor(model => model.LastName, new { @class = "search_customer", placeholder = "Last Name" })
            </div>
            <div class="billing_address_text">
                @Html.TextBoxFor(model => model.Email, new { @class = "search_customer", placeholder = "Email", type = "email" })
            </div>
            <div class="billing_address_text">
                <input type="submit" class="search_order_list" value="SEARCH" style="margin-left: 8px;">
            </div>
                </fieldset>
        </div>
       
        <div class="col-md-12" style=" margin-bottom: 34px;background-color: #fff;margin-top: 10px;">
            @Html.Action("CustomerList", "Customer")
        </div>
        </div>
}

<!--popup -->

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="emailPopup">
    <div class="modal-dialog modal-lg pop-ups">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Send Email</h4>
            </div>

            <div class="modal-body news">
                <div class="row">
                    <form class="form-horizontal" method="get" action="" onsubmit="return false">
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Email" required="required" id="emailInput" class="form-control" disabled="disabled" />
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label">Subject</label>
                            <div class="col-sm-10">
                                <input type="text" placeholder="Subject" required="required" id="subject" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <label class="col-sm-2 control-label">Text</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="6" required="required" id="body"></textarea>
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary" id="emailSubmit" value="Send Email" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
<script>
 $('#role').multiselect();
 $("#StartDate").kendoDatePicker();
    </script>

<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        var infoForm = $("#infoForm");
        $(document).on("click", "#contentPager a[href]", function () {
            $.ajax({
                data: infoForm.serialize(),
                url: $(this).attr("href"),
                cache: false,
                type: "GET",
                success: function (data) {
                    $('#custList').html(data);
                }
            });
            return false;
        });
    });
</script>

<script>
    function SentMail(email) {
        document.getElementById("emailInput").value = email;
        document.getElementById("subject").value = "";
        document.getElementById("body").value = "";
        $($(this).attr("href")).show();
    }
</script>

    <script>
        $("#emailSubmit").click(function () {
            var email = $("#emailInput").val();
            var subject = $("#subject").val();
            var body = $("#body").val();
            if (email.trim() != "" && subject.trim() != "" && body.trim() != "")
            {
                $.ajax({
                    data: { email: email, subject:subject, body:body },
                    url:'@Url.Action("SendEmail","Customer")',
                    type: "POST",
                    success: function (result) {
                        if (result == "Success") {
                            alert("Your mail has been sent successfully");
                            location.reload();
                        }
                        else {
                            alert("Some error occured!! Please try after sometime");
                        }
                    }
                })
            }
        });
           
        
    </script>
}
