@model Orbio.Web.UI.Areas.Admin.Models.Customers.CustomerModel


<div class="col-md-9 main_order_table" style="width:100%">
    <table class=" item_admin_order">
        <thead>
        <td>Order Id</td>
        <td>Order Total</td>
        <td>Order Status</td>
        <td>Payment Status</td>
        <td>Shipping Status</td>
        <td>Created On</td>
        <tbody>
            @if (Model.Order.Count > 0)
            {
                int count = 1;
                foreach (var items in this.Model.Order)
                {
                   if(count==1)
                   {
                       @:<tr class="first_row">
                           count++;
                   }
                   else
                   {
                    @:<tr class="second_row">
                         count = 1;
                   }
                        @*<td><input type="checkbox"></td>*@
                        <td class="varient_align" style="text-align:center"><a style="cursor:pointer" href="@Url.Action("Edit", "Order", new { id = items.Id })">@items.Id</a></td>
                        <td class="varient_align" style="text-align:center">
                            @items.OrderTotal
                        </td>
                        <td class="varient_align" style="text-align:center">
                            @items.OrderStatus
                        </td>
                        <td class="varient_align" style="text-align:center">
                            @items.PaymentStatus
                        </td>
                        <td class="varient_align" style="text-align:center">@items.ShippingStatus</td>
                        <!--  <td>Your Store Name</td> -->
                        <td class="varient_align" style="text-align:center">@items.CreatedOn</td>
                    @:</tr>
                }
            }
            else
            {
                <tr>
                    <td class="align_center" colspan="6">No records to display</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
