
@model Orbio.Web.UI.Areas.Admin.Models.Shipments.ShipmentListModel

<div class="col-md-12 order_list" style="border-radius: 10px;margin-left: 11px;width:98%;height:60px;margin-top:5px;margin-bottom:10px">
    <div class="sart_date" style="width: 169px;">
        @Html.TextBoxFor(model => model.StartDate, new { @class = "start_order_date_email", placeholder = "From", style = "border-radius:0px:box-shadow:0px" })
    </div>
    <div class=" sart_date" style="width: 169px;">
        @Html.TextBoxFor(model => model.EndDate, new { @class = "start_order_date_email", placeholder = "To" })
    </div>
    <div class=" order_status">
        @Html.TextBoxFor(model => model.TrackingNumber, new { @class = "start_order_date_email", placeholder = "Tracking Number" })
    </div>
    <div class="order_status">
        @Html.DropDownList("CountryId", Model.AvailableCountries, new { @class = "start_order_date_email" })
    </div>
    <div class="order_status">
        @Html.DropDownList("StateProvinceId", Model.AvailableStates, new { @class = "start_order_date_email" })
    </div>

    <div class="billing_address_text" style="padding-top: 2px;">
        <input type="submit" class="search_order_list" value="SEARCH">
    </div>
</div>