@model Orbio.Web.UI.Areas.Admin.Models.Attribute.CheckoutAttributeValueModel

@{
    ViewBag.Title = "AddOrEditCheckoutAttributeValue";
}

<div class="container">
@using (Html.BeginForm("SaveCheckoutAttributeValue", "Attribute", FormMethod.Post))
{
    @Html.HiddenFor(m => m.CheckoutAttributeId, new { Value = Model.CheckoutAttributeId })
    @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
        <div class="main_edit_order">
            @if (Model.Id == 0)
            {
       <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">ADD NEW CHECKOUT ATTRIBUTE VALUE</a></span>
    <span class="back_to_order" style="padding-top:0px">
        <input type="submit" value="Save" class="add_cat_button">
        <a href="@Url.Action("EditCheckoutAttribute", "Attribute")"> <input type="button" value="Cancel" class="delete_cat_button"></a>
    </span>

            }
            else
            {

    <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">EDIT CHECKOUT ATTRIBUTE - @Model.Name </a> <a href="@Url.Action("GetCheckoutAttribute", "Attribute")" class="back_to_checkout" style="top:0px;text-transform:none;font-size: small;color: #0082c7;">(back to checkout attribute list) </a></span>
    <span class="back_to_order" style="padding-top:0px">
        <input type="submit" value="Save" class="add_cat_button">
        <a href="@Url.Action("EditCheckoutAttribute", "Attribute", new { Id = Model.CheckoutAttributeId })"> <input type="button" value="Cancel" class="delete_cat_button"></a>
    </span>
            }
        </div>


        <div class="tab_side_solutions col-md-12">
            <div class="tab-content tab_content_solutions" id="myTabContent">
                <div aria-labelledby="home-tab" id="info" class="tab-pane fade in active  " role="tabpanel">
                    <div class="col-md-12 add_cart_left_side edit_checkout_attr_main">
                        <form action="" method="post">
                            <div class="form-group row" style="margin-top:10px">
                                @Html.HiddenFor(m => m.Id, new { Value = Model.Id })
                                <div class="col-md-2"><label>Name : </label></div>
                                <div class="col-md-4"> @Html.TextBoxFor(m => m.Name, new { @class = "edit_text_checkout", required = "required" })</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2"><label>Price Adjustment : </label></div>
                                <div class="col-md-4">@Html.TextBoxFor(m => m.PriceAdjustment, new { @class = "edit_text_checkout", @type = "number" })</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2"><label>Weight Adjustment : </label></div>
                                <div class="col-md-4">@Html.TextBoxFor(m => m.WeightAdjustment, new { @class = "edit_text_checkout", @type = "number" })</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2"><label>Pre-selected :</label></div>
                                <div class="col-md-4">@Html.CheckBoxFor(m => m.IsPreSelected, new { @class = "required_check_edit" })</div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-2"><label>Display Order : </label></div>
                                <div class="col-md-4">@Html.TextBoxFor(m => m.DisplayOrder, new { @class = "edit_text_checkout", @type = "number" })</div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>


        </div>
    }
</div>
