@model Orbio.Web.UI.Areas.Admin.Models.Attribute.ProductAttributeModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}


<div class="container">
@using (Html.BeginForm("AddOrUpdateProductAttribute", "Attribute", FormMethod.Post, new { }))
    {
    @Html.HiddenFor(m => m.Id, new { Value=Model.Id })
    <div class="main_edit_order">
        @if (Model.Id == 0)
         {
        <span class="edit_order_details"><span class="edit_order_icon"></span>ADD NEW PRODUCT ATTRIBUTE <a href="@Url.Action("ProductAttribute", "Attribute")" style="top:0px;text-transform:none;">(back to product attribute list)</a></span>
        <span class="back_to_order"><input type="submit" value="Save" class="add_cat_button">
        <a href="@Url.Action("ProductAttribute","Attribute")"><input type="button" value="Cancel" class="delete_cat_button"></a></span>
         }
        else
        {
             <span class="edit_order_details"><span class="edit_order_icon"></span>EDIT PRODUCT ATTRIBUTE - @Model.Name<a href="@Url.Action("ProductAttribute", "Attribute")" style="top:0px;text-transform:none;"> (back to product attribute list)</a></span>
             <span class="back_to_order"><input type="submit" value="Save" class="add_cat_button">
             <a href="@Url.Action("DeleteProductAttribute", "Attribute", new { Id = Model.Id })"><input type="button" value="Delete" class="delete_cat_button" onclick=" return confirm('Are You Sure'); "></a></span>
        }
    </div>
    
    <div class="new_product_attribute_div">
        @{
            Html.RenderPartial("_AddOrEditProductAttribute", this.Model);
        }
        </div>
       }
    </div>