@model List<Orbio.Web.UI.Areas.Admin.Models.Attribute.CheckoutAttributeModel>
@{
    ViewBag.Title = "ListCheckoutAttribute";
    Layout = "~/Areas/Admin/Views/Shared/_Layout1.cshtml";
}





<div class="container">
    <div class="main_edit_order">
        <span class="edit_order_details"><span class="edit_order_icon"></span><a href="">CHECKOUT ATTRIBUTES</a></span>
        <span class="back_to_order"><a href="@Url.Action("AddCheckoutAttribute","Attribute")"><input type="button" value="Add New" class="add_cat_button"></a></span>
    </div>
    <div class="col-md-12">
        <table class="order_total_main_table">
            <thead>
            <td>Name</td>
            <td>Control type</td>
            <td>Required  </td>
            <td>Display order</td>
            <td>Edit</td>
            </thead>
            <tbody>

            <tbody>
                @if (Model.Count > 0)
                {

                    foreach (var item in Model)
                    {
                <tr style="display: table-row;">
                    <td style="padding-left:8px">@item.Name</td>
                    <td style="padding-left:8px">@item.ControlType</td>
                    <td style="padding-left:8px">@item.IsRequired</td>
                    <td class="align_center">@item.DisplayOrder</td>
                    <td class="align_center">
                        <a href="@Url.Action("EditCheckoutAttribute", "Attribute", new { Id=item.Id })"><label class="edit_ring"></label></a>
                        <a href="@Url.Action("DeleteCheckoutAttribute", "Attribute", new { Id=item.Id })"><label label class="delete_ring" onclick=" return confirm('Are You Sure'); "></label></a>
                    </td>
                </tr>
                    }

                }
                else
                {
                <tr style="display: table-row;">

                    <td colspan="5">No records to diaplay</td>
                </tr>
                }

            </tbody>
        </table>
        </div>
    </div>
