@model Orbio.Web.UI.Areas.Admin.Models.Attribute.SpecificationAttributeModel
@{
    ViewBag.Title = "SpecificationAttribute";
}


<div class="container">
    @using (Html.BeginForm("AddOrUpdateSpecificationAttribute", "Attribute", FormMethod.Post))
    {
        Html.HiddenFor(m => m.Id, new { Value = Model.Id });
        <div class="main_edit_order">
            @if (Model.Id == 0)
            {
                <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">ADD SPECIFICATION ATTRIBUTE DETAILS</a> <a href="@Url.Action("ListSpecificationAttribute", "Attribute")" class="back_to_checkout" style="color: #0082c7;">(back to specification attribute list) </a></span>
                <span class="back_to_order" style="padding-top:0px">
                    <input type="submit" value="Save" class="add_cat_button">
                    <a href="@Url.Action("DeleteSpecificationAttribute", "Attribute")"> <input type="button" value="Cancel" class="delete_cat_button"></a>
                </span>
            }
            else
            {
                <span class="edit_order_details"><span class="edit_order_icon"></span><a href="" class="add_new_check">EDIT SPECIFICATION ATTRIBUTE DETAILS - @Model.Name </a> <a href="@Url.Action("ListSpecificationAttribute", "Attribute")" class="back_to_checkout" style="color: #0082c7;">(back to specification attribute list) </a></span>
                <span class="back_to_order" style="padding-top:0px">
                    <input type="submit" value="Save" class="add_cat_button">
                    <a href="@Url.Action("DeleteSpecificationAttribute", "Attribute", new { Id = Model.Id })"> <input type="button" value="Delete" class="delete_cat_button"></a>
                </span>
            }
        </div>
        <div class="tab_main_order col-md-12">
            <ul id="myTab" role="tablist" class="tabview_order_ul">

                <li class="active cctv_resp_li" role="presentation"><a aria-expanded="true" aria-controls="based" data-toggle="tab" role="tab" id="home-tab" href="#info">ATTRIBUTE INFO</a></li>

                <li role="presentation our_value" class="control_resp_li"><a aria-controls="profile" data-toggle="tab" id="profile-tab" role="tab" href="#products">OPTIONS</a></li>

            </ul>
        </div>

        <div class="tab_side_solutions col-md-12">
            <div class="tab-content tab_content_solutions" id="myTabContent">
                <div aria-labelledby="home-tab" id="info" class="tab-pane fade in active  " role="tabpanel">
                    @{
        Html.RenderPartial("SpecificationAttributeDetails", this.Model);
                    }

                </div>
                <div aria-labelledby="home-tab" id="products" class="tab-pane fade " role="tabpanel">

                    @{
        if (Model.Id != 0)
        {
            Html.RenderPartial("SpecificationAttributeOptions", this.Model);
        }
        else
        {
            <label>You need to save before adding a value</label>
        }
                    }
  


                </div>
            </div>


        </div>
    }
</div>