@model Orbio.Web.UI.Areas.Admin.Models.Attribute.SpecificationAttributeModel

<div class="col-md-12">
    @*<div class="refresh_xl">
        <span class="refresh_button" style="height:32px"><label></label></span>
        <span style="margin-left:5px"><a href="@Url.Action("AddOrEditSpecificationAttributeOption", "Attribute", new { id = 0, Spec = Model.Id })" data-toggle="modal"><input type="button" class="man_search" value="Add a new value"></a></span>
    </div>*@
    <div class="col-md-9 main_order_table">
        <table class=" item_admin_order">
            <thead>
            <td style="width:25%">Name</td>
            <td>Display Order</td>
            <td>Number of Associated products</td>
            <td>Edit/Delete</td>
          </thead>
            <tbody>

                @if (Model.SpecificationOption.Count > 0)
                {
                    int count = 1;
                    <input type="hidden" name="hiddenSpecId" value="@Model.Id" />
                    <input type="hidden" id="hiddenSpecOptionId" name="hiddenSpecOptionId"/>
                    foreach (var item in Model.SpecificationOption)
                    {
                        <input type="hidden" name="hiddenId" value="@item.Id" />
                    
                        <script type="text/javascript">
                            $(document).ready(function () {
                                toggleOrderItemEdit@(item.Id)(false);
                            });
                        </script>

                        <script type="text/javascript">
                            function toggleOrderItemEdit@(item.Id)(editMode) {
                                if (editMode) {
                                    $('#lblname@(item.Id)').hide();
                                    $('#txtname@(item.Id)').show();
                                    $('#lbldisplayorder@(item.Id)').hide();
                                    $('#txtdisplayorder@(item.Id)').show();
                                    $('#btnDeleteOrderItem@(item.Id)').hide();
                                    $('#btnEditOrderItem@(item.Id)').hide();
                                    $('#btnSaveOrderItem@(item.Id)').show();
                                    $('#btnCancelOrderItem@(item.Id)').show();
                                }
                                else {
                                    $('#lblname@(item.Id)').show();
                                    $('#txtname@(item.Id)').hide();
                                    $('#lbldisplayorder@(item.Id)').show();
                                    $('#txtdisplayorder@(item.Id)').hide();
                                    $('#btnDeleteOrderItem@(item.Id)').show();
                                    $('#btnEditOrderItem@(item.Id)').show();
                                    $('#btnSaveOrderItem@(item.Id)').hide();
                                    $('#btnCancelOrderItem@(item.Id)').hide();
                                }
                            }
                        </script>
                        if (count == 1)
                        {
                        @:<tr class="first_row">
                          count++;
                         }
                         else{
                            @:<tr class="second_row">
                             count = 1;
                        }
                        <td class="varient_align" style="text-align:center">
                            <label name="lblname@(item.Id)" id="lblname@(item.Id)">@item.Name</label>
                            <input type="text" name="txtname@(item.Id)" value="@item.Name" id="txtname@(item.Id)" style="display:none;font-size: small;">
                            </td>
                        <td class="varient_align" style="text-align:center">
                            <label name="lbldisplayorder@(item.Id)" id="lbldisplayorder@(item.Id)">@item.DisplayOrder</label>
                            <input type="number" name="txtdisplayorder@(item.Id)" value="@item.DisplayOrder" id="txtdisplayorder@(item.Id)" style="display:none;font-size: small;">
                        </td>
                        <td class="varient_align" style="text-align:center">@item.ProductCount</td>
                        @:<td class="varient_align" style="text-align:center">
                            @:<input type="submit" name="UpdateOptions" value="" id="btnSaveOrderItem@(item.Id)" class="edit_save" style="display:none;" onclick="GetOptionId('@item.Id')" />
                            @:<input type="submit" name="btnCancelOrderItem@(item.Id)" value="" onclick="toggleOrderItemEdit@(item.Id)    (false);return false; " id="btnCancelOrderItem@(item.Id)" class="edit_cancel" style="display:none;" />
                            @: <input type="submit" name="btnEditOrderItem@(item.Id)" value="" onclick="toggleOrderItemEdit@(item.Id)(true);return false; " id="btnEditOrderItem@(item.Id)" class="edit_ring" />
                            @:<a href="@Url.Action("DeleteSpecificationAttributeOption", "Attribute", new { id = item.Id, Spec = Model.Id })"><input type="button" name="btnDeleteOrderItem@(item.Id)" value="" id="btnDeleteOrderItem@(item.Id)" class="delete_ring" onclick=" return confirm('Are You Sure'); " /></a>
                            @: </td>
                        @:</tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5">
                            No records found
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-md-3 add_new_projects">
        @Html.Action("AddSpecificationAttributeOption", "Attribute", new { id = 0, Spec = Model.Id })
    </div>
    </div>


