@{
    var workContext = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Orbio.Core.IWorkContext>();
}
<div class="top-menu">
<div class="container">
<div class="col-md-4 col-sm-4">
<div class="logo">Francis Alukkas</div>
</div>
<div class="col-md-8 col-sm-8">
<div class="rgt-side">
<ul class="rgt-menu">
<li><a href="">Public Store</a></li>
<li><a href="">Clear Cache</a></li>
<li><a href="">Restart Application</a></li>
</ul>
</div>
</div>
<div class="admin-login">
<button aria-expanded="false" data-toggle="dropdown" type="button" class="btn btn-sm dropdown-toggle">
                   @workContext.CurrentCustomer.Email <span class="caret"></span>
</button>
<ul role="menu" class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li class="divider"></li>
<li><a href="#">Separated link</a></li>
<li><a href="@Url.Action("LogOut", "Account", new { area = string.Empty })">Logout</a></li>
</ul>
</div>
</div>
</div>
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li id="dashboard" class="active"><a href="~/Admin">Dashboard</a></li>
<li id="catelog" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Catalog <span class="caret"></span></a>
<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
    <li class="dropdown-submenu">
        <a href="@Url.Action("ManageCategories","Catalog")" tabindex="-1">Categories</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="@Url.Action("ManageCategories","Catalog")">Tree View</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("ManageManufacturer", "Catalog")">Manufacturers</a></li>
<li class="dropdown-submenu">
<a href="@Url.Action("List", "Product")" tabindex="-1">Products</a>
<ul class="dropdown-menu">
<li><a href="@Url.Action("List", "Product")">Manage Products</a></li>
<li><a href="#">Bulk Edit Products</a></li>
<li><a href="@Url.Action("List","ProductReview")">Product Reviews</a></li>
<li><a href="@Url.Action("List","ProductTag")">Product Tags</a></li>
<li><a href="#">Low Stock Report</a></li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" tabindex="-1">Attributes</a>
<ul class="dropdown-menu">
<li><a href="@Url.Action("ProductAttribute", "Attribute")">Product Attributes</a></li>
<li><a href="@Url.Action("ListSpecificationAttribute", "Attribute")">Specification Attributes</a></li>
@*<li><a href="@Url.Action("GetCheckoutAttribute","Attribute")">Checkout Attributes</a></li>*@
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" tabindex="-1">Components</a>
<ul class="dropdown-menu">
<li><a href="@Url.Action("ProductComponent", "Component")">Product Component</a></li>
<li><a href="@Url.Action("PriceComponent", "Component")">Price Component</a></li>
</ul>
</li>

</ul>
</li>

<li id="sales" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Sales <span class="caret">

</span>
</a>
<ul class="dropdown-menu" role="menu">
<li><a href="@Url.Action("List","Order")">Orders</a></li>
<li><a href="@Url.Action("List","Shipment")">Shipments</a></li>
<li><a href="#">Return Requests</a></li>
<li><a href="@Url.Action("GiftCards","Sales")">Gift Cards</a></li>
<li><a href="@Url.Action("CurrentCarts", "ShoppingCart")">Current Shopping Carts</a></li>
<li><a href="@Url.Action("CurrentWishLists", "ShoppingCart")">Current Wishlists</a></li>
<li><a href="@Url.Action("BestSellersReport", "Order")">Bestsellers</a></li>
<li><a href="@Url.Action("NeverSoldReport", "Order")">Products Never Purchased</a></li>
</ul>

    
    <li id="customer" class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Customers<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">

<li><a href="@Url.Action("ListCustomer","Customer")">Customers</a></li>
<li><a href="@Url.Action("ListCustomerRole","Customer")">Customer Roles</a></li>
@*<li><a href="@Url.Action("OnlineCustomers", "Customer")">Online customers</a></li>*@
<li><a href="@Url.Action("CustomerReport", "Customer")">Customer Reports</a></li>
<li><a href="@Url.Action("NewsletterSubscribers", "Customer")">Newsletter Subscribers</a></li>
</ul>
</li>
<li id="promotion">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Promotions<span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
@*<li><a href="#">Affiliates</a></li>
<li><a href="#">Campaigns</a></li>*@
<li><a href="@Url.Action("List", "Discount")">Discounts</a></li>

</ul>
</li>
<li id="contentmanagement">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Content Management <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="@Url.Action("List","MessageTemplate")">Message Templates</a> </li>
</ul>
</li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <span class="caret"></span></a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">System <span class="caret"></span></a></li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>