<div class="top-menu">
<div class="container">
<div class="col-md-4 col-sm-4">
<div class="logo">Francis Alukkas</div>
</div>
<div class="col-md-8 col-sm-8">
<div class="rgt-side">
<ul class="rgt-menu">
<li><a href="">Public Store</a></li>
<li><a href="">Clear Cache</a></li>
<li><a href="">Restart Application</a></li>
</ul>
</div>
</div>
<div class="admin-login">
<button aria-expanded="false" data-toggle="dropdown" type="button" class="btn btn-sm dropdown-toggle">
                    admin@francisalukkas.com <span class="caret"></span>
</button>
<ul role="menu" class="dropdown-menu">
<li><a href="#">Action</a></li>
<li><a href="#">Another action</a></li>
<li><a href="#">Something else here</a></li>
<li class="divider"></li>
<li><a href="#">Separated link</a></li>
</ul>
</div>
</div>
</div>
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

</div>
<div class="navbar-collapse collapse">
<ul class="nav navbar-nav">
<li class="active"><a href="~/Admin">Dashboard</a></li>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Catalog <span class="caret"></span></a>
<ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenu">
    <li class="dropdown-submenu">
        <a href="@Url.Action("ManageCategories","Catalog")" tabindex="-1">Categories</a>
        <ul class="dropdown-menu">
            <li><a tabindex="-1" href="@Url.Action("ManageCategories","Catalog")">Tree view</a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("ManageManufacturer", "Catalog")">Manufacturers</a></li>
<li class="dropdown-submenu">
<a href="#" tabindex="-1">Products</a>
<ul class="dropdown-menu">
<li><a href="#">Manage products</a></li>
<li><a href="#">Bulk edit products</a></li>
<li><a href="#">Product reviews</a></li>
<li><a href="#">Product tags</a></li>
<li><a href="#">Low stock report</a></li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" tabindex="-1">Attributes</a>
<ul class="dropdown-menu">
<li><a href="@Url.Action("ProductAttribute", "Attribute")">Product Attributes</a></li>
<li><a href="@Url.Action("ListSpecificationAttribute", "Attribute")">Specification Attributes</a></li>
<li><a href="@Url.Action("GetCheckoutAttribute","Attribute")">Checkout Attributes</a></li>
</ul>
</li>
<li class="dropdown-submenu">
<a href="#" tabindex="-1">components</a>
<ul class="dropdown-menu">
<li><a href="@Url.Action("ProductComponent", "Component")">Product component</a></li>
<li><a href="@Url.Action("PriceComponent", "Component")">Price component</a></li>
</ul>
</li>

</ul>
</li>

<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Sales <span class="caret">

</span>
</a>
<ul class="dropdown-menu" role="menu">
<li><a href="@Url.Action("List","Order")">Orders</a></li>
<li><a href="#">Shipments</a></li>
<li><a href="#">Return requests</a></li>
<li><a href="#">Gift cards</a></li>
<li><a href="@Url.Action("CurrentCarts", "ShoppingCart")">Current shopping carts</a></li>
<li><a href="@Url.Action("CurrentWishLists", "ShoppingCart")">Current wishlists</a></li>
<li><a href="#">Bestsellers</a></li>
<li><a href="#">Products never purchased</a></li>
</ul>
<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Customers <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Customers</a></li>
<li><a href="#">Customer roles</a></li>
<li><a href="#">Online customers</a></li>
<li><a href="#">Customer reports</a></li>
</ul>
</li>
<li>
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Promotions <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Affiliates</a></li>
<li><a href="#">Newsletter Subscribers</a></li>
<li><a href="#">Campaigns</a></li>
<li><a href="#">Discounts</a></li>

</ul>
</li>
<li>
<a href="#" class="dropdown-toggle" data-toggle="dropdown">Content Management <span class="caret"></span></a>
<ul class="dropdown-menu" role="menu">
<li><a href="#">Message templates</a> </li>
</ul>
</li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Configuration <span class="caret"></span></a></li>
<li><a href="#" class="dropdown-toggle" data-toggle="dropdown">System <span class="caret"></span></a></li>
</ul>
</div><!--/.nav-collapse -->
</div>
</div>