<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="@ViewBag.MetaDescription">
        <meta name="author" content="">
        <meta name="keywords" content="@ViewBag.MetaKeywords" />
       
        <title>Francis Alukkas Online</title>
      
        @Styles.Render("~/Content/css")
        <link href="~/Content/toastr.css" rel="stylesheet" />
        <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/Basic_image/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/Basic_image/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/Basic_image/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/Basic_image/apple-touch-icon-57-precomposed.png">

        @Scripts.Render("~/bundles/modernizr")
       
    </head>
    <body>
      <header>
                             @Html.Action("TopMenu", "Catalog")
  </header>

      
        @RenderBody()
           
        <footer>
     <div class="container">
     <div class="Footer_top clearfix">
     <div class="col-md-3 col-sm-3">
     <h1>FRANCIS ALUKKAS</h1>
     <ul>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "AboutUs" })?p=ft">About Us</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct">Jewellery</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "jewellery" })?p=ct">Brands</a></li>
     <li><a href="">Easy Gold</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "DoubleValue" })?p=ft">Double value</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "GiftVoucher" })?p=ft">Gift Vouchers</a></li>
     </ul>
     </div>


    <div class="col-md-3 col-sm-3">
     <h1>CUSTOMER DELIGHT</h1>
     <ul>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "FAQ" })?p=ft">FAQ</a></li>
     <li><a href="">Our Blog</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "ContactUs" })?p=ft">Contact Us</a></li>
     <li><a href="">Our Certification</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "Career" })?p=ft">Career</a></li>
     <li><a href="">News</a></li>
     </ul>
     </div>

     <div class="col-md-3 col-sm-3">
     <h1>OUR POLICIES</h1>
     <ul>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "ShippingPolicy" })?p=ft">Shipping Policy</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "CancellationPolicy" })?p=ft">Cancellation Policy</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "RefundPolicy" })?p=ft">Refund Policy</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "BuyBackPolicy" })?p=ft">Buyback Policy</a></li>
     <li><a href="@Url.RouteUrl("Category", new { SeName = "ExchangePolicy" })?p=ft">Exchange Policy</a></li>
     <li><a href="">Privacy Policy</a></li>
     </ul>
     </div>


     <div class="col-md-3 col-sm-3">
     <h1>OUR ASSURANCE</h1>
     <ul>
     <li><a href="">Product Detail Pricing</a></li>
     <li><a href="">Easy Exchange</a></li>
     <li><a href="">Only Certified Jewellery</a></li>
     <li><a href="">14 Days Return</a></li>
     <li><a href="">Free Product Insurence</a></li>
     <li><a href="">Life Time product Service</a></li>
     </ul>
     </div>

     </div>
     </div>

     <div class="footer_bottom">
     <div class="container">
     <div class="col-md-4 col-sm-4">
     <p class="copyright">2014 &copy Francis Alukkas. All rights reserved.</p>
     </div>

     <div class="col-md-4 col-sm-4">
      
      <ul class="foot_menu clearfix">
      <li><a href="" class="visa"></a></li>
      <li><a href="" class="discover"></a></li>
      <li><a href="" class="american"></a></li>
      <li><a href="" class="master"></a></li>
      </ul>

     </div>


     <div class="col-md-4 col-sm-4">

     <ul class="foot_menu_rgt clearfix">
      <li><a href="https://www.facebook.com/francisalukkas" target="_blank" class="facebook"></a></li>
      <li><a href="https://plus.google.com/107646149283462352621/posts" target="_blank" class="twitter"></a></li>
      <li><a href="https://twitter.com/francis_alukkas" target="_blank" class="google"></a></li>
      <li><a href="http://www.youtube.com/francisalukkas" target="_blank" class="youtube"></a></li>
      </ul>

     </div>
     </div>

     </div>
     <a href="#" class="scroll_top"></a>
   </footer>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @RenderSection("scripts", required: false)
      

        @section scripts {
         
            }
    </body>
</html>
