@model  List<Orbio.Web.UI.Areas.Admin.Models.Configuration.WarehouseModel>

<table class="item_admin_order">
    <thead>
    <td>Name</td>
    <td>Address</td>
    <td>Country</td>
    <td>State</td>
    <td>City</td>
    <td>Edit/Delete</td></thead>
    <tbody>
        @if (Model != null)
        {
            if (Model.Count > 0)
            {
                int count = 1;
                foreach (var item in Model)
                {
                    if (count == 1)
                    {
                        @:<tr class="first_row">
                        count++;
                    }
                    else
                    {
                        @:<tr class="second_row">
                        count = 1;
                    }
                    <td class="varient_align" style="text-align:center">@item.Name</td>
                    <td class="varient_align" style="text-align:center">@item.WarehouseDetails.Address</td>
                    <td class="varient_align" style="text-align:center">@item.WarehouseDetails.Country</td>
                    <td class="varient_align" style="text-align:center">@item.WarehouseDetails.State</td>
                    <td class="varient_align" style="text-align:center">@item.WarehouseDetails.City</td>
                    <td class="varient_align" style="text-align:center">
                        <a href="@Url.Action("EditWarehouse", "Shipping", new { Id = item.Id })"><label class="edit_ring"></label></a>
                        <a href="@Url.Action("DeleteWarehouse", "Shipping", new { Id = item.Id })"><label class="delete_ring" onclick=" return confirm('Are you sure you want to delete'); "></label></a>
                    </td>
                @:</tr>
                }
            }
            else
            {
                <tr>

                    <td colspan="4">No records to display</td>
                </tr>
            }
        }
        else
        {
            <tr>

                <td colspan="4">No records to display</td>
            </tr>
        }
    </tbody>
</table>

